TRABALHO BD

A partir de webscrapping, ir buscar o número de ids escolhido (máx 20) de termos à escolha do utilizador e importar as informações para a base de dados

WEBSCRAPPING

In [734]:
import re

def validateInsertedText(item):
    return re.match(r'[\d|a-z|A-Z]+(\_?[\d|a-z|A-Z]+)*', item)

def url_get(item):
    url_list = []
    url = "https://www.ncbi.nlm.nih.gov/gene/?term={}".format(item)
    url_list.append(url)
    return url_list

query = input("Defina o termo que pretende pesquisar [bacteria/yeast/human...] \n Se o termo tiver mais do que uma palavra, separe por _: ")
try:
    
    if not validateInsertedText(query):
        raise Exception
    else:   
        print(url_get(query))

except Exception:
    print(f'Inválido. Insira um termo válido. O termo que inseriu foi: "{query}"')

['https://www.ncbi.nlm.nih.gov/gene/?term=malaria']

In [735]:
import requests, sys, json
content = []
for url in url_get(query):
    r = requests.get(url)
    content.append(r.content)
# print(content)

In [736]:
import requests
from bs4 import BeautifulSoup

# Parsing the HTML
for c in content:
    soup = BeautifulSoup(r.content, 'html.parser')
    res = soup.get_text()
# print(res)

In [737]:
import re
existe = re.findall(r'\s*ID:\s*\d*(?=\D)', res, re.DOTALL)
id_genes = ','.join(existe)
id_g = re.sub(r'\s*ID:\n*\s+', '', id_genes)
id_gene = id_g.split(',')
id_gene

['3043',
 '112314',
 '116906',
 '112313',
 '117578',
 '100101431',
 '100035820',
 '100034930',
 '493123',
 '493122',
 '100036393',
 '100036129',
 '100035705',
 '246749',
 '100036439',
 '100036484',
 '104057',
 '2539',
 '28',
 '118446222101']

In [738]:
try:
    number_of_genes = int(input("Número de genes a obter (máx: 20): "))
    print(number_of_genes)
    genes = id_gene[0:number_of_genes]
    print(genes)
except Exception:
    print("INVALID")

9
['3043', '112314', '116906', '112313', '117578', '100101431', '100035820', '100034930', '493123']

In [7]:
#BUSCAR LINKS DOS GENES

In [739]:
import time
def url_get_id(item):
    url_id = []
    for id in genes:
        url = f"https://www.ncbi.nlm.nih.gov/nuccore/{id}"
        url_id.append(url)
    return url_id
url_get_id(genes)

['https://www.ncbi.nlm.nih.gov/nuccore/3043',
 'https://www.ncbi.nlm.nih.gov/nuccore/112314',
 'https://www.ncbi.nlm.nih.gov/nuccore/116906',
 'https://www.ncbi.nlm.nih.gov/nuccore/112313',
 'https://www.ncbi.nlm.nih.gov/nuccore/117578',
 'https://www.ncbi.nlm.nih.gov/nuccore/100101431',
 'https://www.ncbi.nlm.nih.gov/nuccore/100035820',
 'https://www.ncbi.nlm.nih.gov/nuccore/100034930',
 'https://www.ncbi.nlm.nih.gov/nuccore/493123']

In [740]:
import requests
id_content = []
for url in url_get_id(genes):
    r = requests.get(url)
    id_content.append(r.content)
# id_content

In [741]:
import requests
from bs4 import BeautifulSoup

# Making a GET request
#r = requests.get('https://www.ncbi.nlm.nih.gov/nuccore/{}'.format(genes))
# Parsing the HTML
locus = ""
locus_list = []
for c in id_content:
	soup = BeautifulSoup(c, 'html.parser')

# Procurar um tag meta com um determinado atributo

	lines = soup.find_all('meta', {'name':"ncbi_uidlist"} )

	id = ""
	url = ""
	for line in lines:
		# print(line)
		# if 'name' in line.attrs:
		# 	print(line.attrs['name'])
		if 'content' in line.attrs:
			# print(line.attrs['content'])		
			id = line.attrs['content']

	if id:
		url ="https://www.ncbi.nlm.nih.gov/sviewer/viewer.fcgi?id={}&db=nuccore&report=genbank&conwithfeat=on&hide-cdd=on&retmode=text&ncbi_phid=CE88F25338A215A1000000000483042A&withmarkup=on&tool=portal&log$=seqview&maxdownloadsize=1000000".format(id)

	r2 = requests.get(url)
	locus += r2.content.decode('utf-8')

	if "Error" not in r2.content.decode('utf-8'):
		locus_list.append(r2.content.decode('utf-8'))
print(locus)
	#utf-8 para converter de bytes para string
	#https://stackoverflow.com/questions/31019854/typeerror-cant-use-a-string-pattern-on-a-bytes-like-object-in-re-findall

LOCUS       X56237                  1077 bp    mRNA    linear   PLN 12-JUN-2006
DEFINITION  N. crassa NUO-32 mRNA for NADH dehydrogenase 32 kD subunit.
ACCESSION   X56237
VERSION     X56237.1
KEYWORDS    NADH dehydrogenase (ubiquinone); NADH dehydrogenase subunit; NUO-32
            gene.
SOURCE      Neurospora crassa
  ORGANISM  Neurospora crassa
            Eukaryota; Fungi; Dikarya; Ascomycota; Pezizomycotina;
            Sordariomycetes; Sordariomycetidae; Sordariales; Sordariaceae;
            Neurospora.
REFERENCE   1  (bases 1 to 1077)
  AUTHORS   Van der Pas,J.C., Rohlen,D.A., Weidner,U. and Weiss,H.
  TITLE     Primary structure of the nuclear-encoded 29.9 kDa subunit of NADH:
            ubiquinone reductase from Neurospora crassa mitochondria
  JOURNAL   Biochim. Biophys. Acta 1089 (3), 389-390 (1991)
   PUBMED   1830489
REFERENCE   2  (bases 1 to 1077)
  AUTHORS   Roelen,D.A.
  TITLE     Direct Submission
  JOURNAL   Submitted (25-NOV-1990) Roehlen D.A., Institut fuer Biochemie,
            Universitaet Duesseldorf, Universitaetsstr. 1, 4000 Duesseldorf 2
            Germany
FEATURES             Location/Qualifiers
     source          1..1077
                     /organism="Neurospora crassa"
                     /mol_type="mRNA"
                     /strain="SL74"
                     /db_xref="taxon:5141"
     gene            1..1077
                     /gene="NUO-32"
     mRNA            1..1077
                     /gene="NUO-32"
                     /experiment="experimental evidence, no additional details
                     recorded"
     CDS             68..889
                     /gene="NUO-32"
                     /codon_start=1
                     /product="NADH dehydrogenase subunit"
                     /protein_id="CAA39694.1"
                     /db_xref="GOA:P24919"
                     /db_xref="InterPro:IPR006806"
                     /db_xref="UniProtKB/Swiss-Prot:P24919"
                     /translation="MRAALRLLATATATVRPSARFLKPGSPTGLTGLGTHPSPRSALL
                     YLYNHTLDKLKQIPEHSLYRQSAEALTKHRLAIVEQYVPDGYDAWQERARKLLEKHKS
                     DLTARQFDGQHARLVEGPDGRAYFIRQMVPPQDWRDVEWDGAVLDPHFSWVQTGEDVV
                     GAVKLEDSDKLLELDKIRESDPVAYRQGLRDLGIKMGGVVEDKSPVEWESEPPLSAEQ
                     IAEMEARIGSGLIEEVVQVAEGELKLVDIMTQARPWEALEEEAPEGQWTYFERKE"
     sig_peptide     68..91
                     /gene="NUO-32"
                     /note="for NADH dehydrogenase subunit"
     mat_peptide     92..886
                     /gene="NUO-32"
                     /product="NADH dehydrogenase subunit"
     polyA_site      1077
                     /gene="NUO-32"
ORIGIN
        1 ccacaatcca ccccacccca ccggaccccg agtcagtcaa caacctccac gacacgactc
       61 ggaaaccatg cgcgcggcac tccgattgct cgcgaccgcg acggctaccg tccgcccgtc
      121 cgcccgcttc ctcaaacccg gctccccgac cggcctcacc ggcctcggca cccacccgtc
      181 gccgcgctcc gccctgctgt acctctacaa ccacaccctc gacaagctca agcagatccc
      241 cgagcactcg ctgtaccgcc agtccgccga ggccctgacc aagcaccgcc tcgccatcgt
      301 cgagcagtac gtgcccgacg gctacgacgc ctggcaggag cgcgcccgca agctgctcga
      361 gaagcacaag agcgacctca cggcccgcca gttcgacggc cagcatgccc gcctagtcga
      421 aggccccgac ggccgcgctt acttcatccg ccagatggtc cccccgcagg actggcgcga
      481 cgtcgagtgg gatggtgccg tcctggatcc gcacttttcc tgggttcaga ccggcgagga
      541 tgtcgtcggc gccgtcaagc tggaagacag cgacaagctg ctcgagctgg acaagatcag
      601 ggaatcagac ccggttgcct atcgccaggg tctcagggat ctcggtatca agatgggcgg
      661 tgttgtcgag gacaagagcc ccgtcgagtg ggagtcggag ccgccgttga gcgctgaaca
      721 gattgctgag atggaggcca ggattggttc tggcttgatt gaggaggttg ttcaggttgc
      781 cgagggcgag cttaagctgg ttgacattat gacccaggcc aggccttggg aagctcttga
      841 ggaggaggcg ccagagggcc aatggactta ctttgagcgt aaggagtaaa caaacatcga
      901 cagacataga gaatgggaac acaggaccaa ccaggccatg acggccacct attttatgag
      961 cgttacgaag aagaagggag gacaggcatt tctcagccag ttgtacctat accataccac
     1021 gccgggacat gtatataatc atcgactttg gcaggcggga atgactatgc cctcctt
//

Error: F a i l e d  t o  r e t r i e v e  s e q u e n c e :  1 1 2 3 1 4


Error: F a i l e d  t o  r e t r i e v e  s e q u e n c e :  1 1 6 9 0 6


Error: F a i l e d  t o  r e t r i e v e  s e q u e n c e :  1 1 2 3 1 3


Error: F a i l e d  t o  r e t r i e v e  s e q u e n c e :  1 1 7 5 7 8


LOCUS       AAADK0077081              20 bp    RNA     linear   ROD 20-SEP-2005
DEFINITION  Mus musculus strain C57BL/6Jx129/Sv.
ACCESSION   AAADK0077081
VERSION     AAADK0077081.1
KEYWORDS    MGA; 5'-end tag; CAGE (Cap Analysis Gene Expression).
SOURCE      Mus musculus (house mouse)
  ORGANISM  Mus musculus
            Eukaryota; Metazoa; Chordata; Craniata; Vertebrata; Euteleostomi;
            Mammalia; Eutheria; Euarchontoglires; Glires; Rodentia; Myomorpha;
            Muroidea; Muridae; Murinae; Mus; Mus.
REFERENCE   1
  AUTHORS   Shiraki,T., Kondo,S., Katayama,S., Waki,K., Kasukawa,T., Kawaji,H.,
            Kodzius,R., Watahiki,A., Nakamura,M., Arakawa,T., Fukuda,S.,
            Sasaki,D., Podhajska,A., Harbers,M., Kawai,J., Carninci,P. and
            Hayashizaki,Y.
  TITLE     Cap analysis gene expression for high-throughput analysis of
            transcriptional starting point and identification of promoter usage
  JOURNAL   Proc. Natl. Acad. Sci. U.S.A. 100 (26), 15776-15781 (2003)
   PUBMED   14663149
REFERENCE   2
  AUTHORS   Kodzius,R., Matsumura,Y., Kasukawa,T., Shimokawa,K., Fukuda,S.,
            Shiraki,T., Nakamura,M., Arakawa,T., Sasaki,D., Kawai,J.,
            Harbers,M., Carninci,P. and Hayashizaki,Y.
  TITLE     Absolute expression values for mouse transcripts: re-annotation of
            the READ expression database by the use of CAGE and EST sequence
            tags
  JOURNAL   FEBS Lett. 559 (1-3), 22-26 (2004)
   PUBMED   14960301
REFERENCE   3
  AUTHORS   Carninci,P., Kasukawa,T., Katayama,S., Gough,J., Frith,M.C.,
            Maeda,N., Oyama,R., Ravasi,T., Lenhard,B., Wells,C., Kodzius,R.,
            Shimokawa,K., Bajic,V.B., Brenner,S.E., Batalov,S., Forrest,A.R.,
            Zavolan,M., Davis,M.J., Wilming,L.G., Aidinis,V., Allen,J.E.,
            Ambesi-Impiombato,A., Apweiler,R., Aturaliya,R.N., Bailey,T.L.,
            Bansal,M., Baxter,L., Beisel,K.W., Bersano,T., Bono,H., Chalk,A.M.,
            Chiu,K.P., Choudhary,V., Christoffels,A., Clutterbuck,D.R.,
            Crowe,M.L., Dalla,E., Dalrymple,B.P., de Bono,B., Della Gatta,G.,
            di Bernardo,D., Down,T., Engstrom,P., Fagiolini,M., Faulkner,G.,
            Fletcher,C.F., Fukushima,T., Furuno,M., Futaki,S., Gariboldi,M.,
            Georgii-Hemming,P., Gingeras,T.R., Gojobori,T., Green,R.E.,
            Gustincich,S., Harbers,M., Hayashi,Y., Hensch,T.K., Hirokawa,N.,
            Hill,D., Huminiecki,L., Iacono,M., Ikeo,K., Iwama,A., Ishikawa,T.,
            Jakt,M., Kanapin,A., Katoh,M., Kawasawa,Y., Kelso,J., Kitamura,H.,
            Kitano,H., Kollias,G., Krishnan,S.P., Kruger,A., Kummerfeld,S.K.,
            Kurochkin,I.V., Lareau,L.F., Lazarevic,D., Lipovich,L., Liu,J.,
            Liuni,S., McWilliam,S., Madan Babu,M., Madera,M., Marchionni,L.,
            Matsuda,H., Matsuzawa,S., Miki,H., Mignone,F., Miyake,S.,
            Morris,K., Mottagui-Tabar,S., Mulder,N., Nakano,N., Nakauchi,H.,
            Ng,P., Nilsson,R., Nishiguchi,S., Nishikawa,S., Nori,F., Ohara,O.,
            Okazaki,Y., Orlando,V., Pang,K.C., Pavan,W.J., Pavesi,G.,
            Pesole,G., Petrovsky,N., Piazza,S., Reed,J., Reid,J.F., Ring,B.Z.,
            Ringwald,M., Rost,B., Ruan,Y., Salzberg,S.L., Sandelin,A.,
            Schneider,C., Schonbach,C., Sekiguchi,K., Semple,C.A., Seno,S.,
            Sessa,L., Sheng,Y., Shibata,Y., Shimada,H., Shimada,K., Silva,D.,
            Sinclair,B., Sperling,S., Stupka,E., Sugiura,K., Sultana,R.,
            Takenaka,Y., Taki,K., Tammoja,K., Tan,S.L., Tang,S., Taylor,M.S.,
            Tegner,J., Teichmann,S.A., Ueda,H.R., van Nimwegen,E., Verardo,R.,
            Wei,C.L., Yagi,K., Yamanishi,H., Zabarovsky,E., Zhu,S., Zimmer,A.,
            Hide,W., Bult,C., Grimmond,S.M., Teasdale,R.D., Liu,E.T.,
            Brusic,V., Quackenbush,J., Wahlestedt,C., Mattick,J.S., Hume,D.A.,
            Kai,C., Sasaki,D., Tomaru,Y., Fukuda,S., Kanamori-Katayama,M.,
            Suzuki,M., Aoki,J., Arakawa,T., Iida,J., Imamura,K., Itoh,M.,
            Kato,T., Kawaji,H., Kawagashira,N., Kawashima,T., Kojima,M.,
            Kondo,S., Konno,H., Nakano,K., Ninomiya,N., Nishio,T., Okada,M.,
            Plessy,C., Shibata,K., Shiraki,T., Suzuki,S., Tagami,M., Waki,K.,
            Watahiki,A., Okamura-Oho,Y., Suzuki,H., Kawai,J. and Hayashizaki,Y.
  CONSRTM   FANTOM Consortium; RIKEN Genome Exploration Research Group and
            Genome Science Group (Genome Network Project Core Group)
  TITLE     The transcriptional landscape of the mammalian genome
  JOURNAL   Science 309 (5740), 1559-1563 (2005)
   PUBMED   16141072
  REMARK    Erratum:[Science. 2006 Mar 24;311(5768):1713]
REFERENCE   4
  AUTHORS   Katayama,S., Tomaru,Y., Kasukawa,T., Waki,K., Nakanishi,M.,
            Nakamura,M., Nishida,H., Yap,C.C., Suzuki,M., Kawai,J., Suzuki,H.,
            Carninci,P., Hayashizaki,Y., Wells,C., Frith,M., Ravasi,T.,
            Pang,K.C., Hallinan,J., Mattick,J., Hume,D.A., Lipovich,L.,
            Batalov,S., Engstrom,P.G., Mizuno,Y., Faghihi,M.A., Sandelin,A.,
            Chalk,A.M., Mottagui-Tabar,S., Liang,Z., Lenhard,B. and
            Wahlestedt,C.
  CONSRTM   RIKEN Genome Exploration Research Group; Genome Science Group
            (Genome Network Project Core Group); FANTOM Consortium
  TITLE     Antisense transcription in the mammalian transcriptome
  JOURNAL   Science 309 (5740), 1564-1566 (2005)
   PUBMED   16141073
REFERENCE   5
  AUTHORS   Carninci,P., Sandelin,A., Lenhard,B., Katayama,S., Shimokawa,K.,
            Ponjavic,J., Semple,C.A., Taylor,M.S., Engstrom,P.G., Frith,M.C.,
            Forrest,A.R., Alkema,W.B., Tan,S.L., Plessy,C., Kodzius,R.,
            Ravasi,T., Kasukawa,T., Fukuda,S., Kanamori-Katayama,M.,
            Kitazume,Y., Kawaji,H., Kai,C., Nakamura,M., Konno,H., Nakano,K.,
            Mottagui-Tabar,S., Arner,P., Chesi,A., Gustincich,S.,
            Persichetti,F., Suzuki,H., Grimmond,S.M., Wells,C.A., Orlando,V.,
            Wahlestedt,C., Liu,E.T., Harbers,M., Kawai,J., Bajic,V.B.,
            Hume,D.A. and Hayashizaki,Y.
  TITLE     Genome-wide analysis of mammalian promoter architecture and
            evolution
  JOURNAL   Nat. Genet. 38 (6), 626-635 (2006)
   PUBMED   16645617
  REMARK    Erratum:[Nat Genet. 2007 Sep;39(9):1174]
REFERENCE   6
  AUTHORS   Arakawa,T., Carninci,P., Fukuda,S., Hasegawa,A., Hayashida,K.,
            Hori,F., Iida,J., Imamura,K., Kai,C., Kanagawa,S., Katayama,S.,
            Kawai,J., Kodzius,R., Kojima,M., Kondo,S., Murata,M., Nakamura,M.,
            Nishiyori,H., Nomura,K., Ohno,M., Sakazume,N., Sasaki,D.,
            Shiraki,T., Tagami,M., Tagami,Y., Waki,K., Watahiki,A. and
            Hayashizaki,Y.
  TITLE     Direct Submission
  JOURNAL   Submitted (18-APR-2005) Contact:Yoshihide Hayashizaki The Institute
            of Physical and Chemical Research (RIKEN), Omics Science Center,
            RIKEN Yokohama Institute; 1-7-22 Suehiro-cho, Tsurumi-ku, Yokohama,
            Kanagawa 230-0045, Japan URL :http://www.osc.riken.jp/
COMMENT     CAGE library was prepared and sequenced in Genome Science
            Laboratory (Wako) and Genome Exploration Research Group Genomics
            Science Center (GSC) in RIKEN Yokohama Institute
            Please visit our web site for further details.
            URL:http://www.osc.riken.jp/
            The CAGE (cap analysis gene expression) tags are obtained by
            sequencing concatamers of DNA tags deriving from the initial 20/21
            nucleotides from 5' end mRNAs, prepared in accordance to Shiraki et
            al. (Proc Natl Acad Sci U S A. 100, 15776-81, 2003). At first step,
            full-length cDNAs were selected with the Cap-Trapper. Next, a
            specific linker (Linker1, which contains the ClassIIs restriction
            enzyme site MmeI) was ligated to the cDNA. Linker 1 may contain
            extra 5 bp sequences tag, and 15 of such different sequences tags
            were used to tag different starting RNA samples. Then the second
            strand of cDNA synthesized. Resulting double-stranded cDNAs were
            cleaved by the restriction enzyme MmeI and a second linker
            (Linker2) was ligated to the 2 bp overhang at the MmeI cleaved
            site, to produce a 5' 20/21 tag having two linkers at both sides.
            The ligation products were separated from unmodified DNA with
            magnetic beads. The 5' end cDNA tags were released from the beads,
            and the DNA fragments were amplified in a PCR step by using the two
            linker-specific primers (Primer1 (uni-PCR), Primer2 (MmeI-PCR)).
            The desired 32-37 bp tags were purified and ligated to form
            concatamers, and then the concatamer were fractionated and ligated
            to the plasmid ZErO-2. The ligations were finally electroporated
            into DH10b cells (Invitrogen) and obtained plasmids were sequenced
            with forward primers essentially as described with minor
            modifications to use zeocin for selection of recombinants. Each
            CAGE tag comprises short sequences of about 20bp derived from the
            5' end of a full-length cDNA. The length of a CAGE tag may vary due
            to the limited specificity of MmeI. Note that up to 70% of the CAGE
            tags may have an unspecific G in the first position at the 5' end.
            We used in-house developed algorithms for the extraction of tags
            and for masking the vectors. CAGE tags were extracted with the
            following parameters: vector masking, minimum 12 bp recognition
            allowed; linker (13 bp) masking: maximum mismatch, 2 bp allowed;
            XmaJI site maximum mismatch, 2 bp allowed; tag length, 17-24 bp.
            Linker1: 'Upper oligonucleotide GN6':
            biotin-agagagagacctcgagtaactataacggtcctaaggtagcgacctagg (5 bp)
            tccgacGNNNNN and 'Upper oligonucleotide N6':
            biotin-agagagagacctcgagtaactataacggtcctaaggtagcgacctagg (5 bp)
            tccgacNNNNNN were mixed. 'Lower oligonucleotide': phosphate
            group-gtcgga (5 bp) cctaggtcgctaccttaggaccgttatagttactcgaggtctctctc
            t-NH2
            Linker2: 'Upper-XmaJI': Pi-cctaggtcaggactcttctatagtgtcacctaaagacaca
            cacac -NH2 'Lower-XmaJI': gtgtgtgtgtctttaggtgacactatagaagagtcctgacc
            taggNN
            Primer1 (uni-PCR): 5'-biotin-GTGTGTGTGTCTTTAGGTGACACTA-3' Primer2
            (MmeI-PCR): 5'-biotin-AGAGAGAGACCTCGAGTAACTATAA-3'
            Tissues were provided by Dr. John Reed, whose assistance we
            gratefully acknowledge.
FEATURES             Location/Qualifiers
     source          1..20
                     /organism="Mus musculus"
                     /mol_type="unassigned RNA"
                     /strain="C57BL/6Jx129/Sv"
                     /db_xref="taxon:10090"
                     /tissue_type="body (-head and whole gut)"
                     /clone_lib="mouse Cap Analysis Gene Expression (CAGE)
                     library"
                     /dev_stage="14.5 days embryo"
                     /note="primer Oligo dT derived;
                     condition: serum-starved cells were irradiated at 20 Gy
                     and released into c;
                     EMAP_id: EMAP:5719;
                     eVOC_id: EVM:2220036"
ORIGIN
        1 ggcgtcctca gctcggggct
//

LOCUS       AAADK0017277              21 bp    RNA     linear   ROD 20-SEP-2005
DEFINITION  Mus musculus strain C57BL/6Jx129/Sv.
ACCESSION   AAADK0017277
VERSION     AAADK0017277.1
KEYWORDS    MGA; 5'-end tag; CAGE (Cap Analysis Gene Expression).
SOURCE      Mus musculus (house mouse)
  ORGANISM  Mus musculus
            Eukaryota; Metazoa; Chordata; Craniata; Vertebrata; Euteleostomi;
            Mammalia; Eutheria; Euarchontoglires; Glires; Rodentia; Myomorpha;
            Muroidea; Muridae; Murinae; Mus; Mus.
REFERENCE   1
  AUTHORS   Shiraki,T., Kondo,S., Katayama,S., Waki,K., Kasukawa,T., Kawaji,H.,
            Kodzius,R., Watahiki,A., Nakamura,M., Arakawa,T., Fukuda,S.,
            Sasaki,D., Podhajska,A., Harbers,M., Kawai,J., Carninci,P. and
            Hayashizaki,Y.
  TITLE     Cap analysis gene expression for high-throughput analysis of
            transcriptional starting point and identification of promoter usage
  JOURNAL   Proc. Natl. Acad. Sci. U.S.A. 100 (26), 15776-15781 (2003)
   PUBMED   14663149
REFERENCE   2
  AUTHORS   Kodzius,R., Matsumura,Y., Kasukawa,T., Shimokawa,K., Fukuda,S.,
            Shiraki,T., Nakamura,M., Arakawa,T., Sasaki,D., Kawai,J.,
            Harbers,M., Carninci,P. and Hayashizaki,Y.
  TITLE     Absolute expression values for mouse transcripts: re-annotation of
            the READ expression database by the use of CAGE and EST sequence
            tags
  JOURNAL   FEBS Lett. 559 (1-3), 22-26 (2004)
   PUBMED   14960301
REFERENCE   3
  AUTHORS   Carninci,P., Kasukawa,T., Katayama,S., Gough,J., Frith,M.C.,
            Maeda,N., Oyama,R., Ravasi,T., Lenhard,B., Wells,C., Kodzius,R.,
            Shimokawa,K., Bajic,V.B., Brenner,S.E., Batalov,S., Forrest,A.R.,
            Zavolan,M., Davis,M.J., Wilming,L.G., Aidinis,V., Allen,J.E.,
            Ambesi-Impiombato,A., Apweiler,R., Aturaliya,R.N., Bailey,T.L.,
            Bansal,M., Baxter,L., Beisel,K.W., Bersano,T., Bono,H., Chalk,A.M.,
            Chiu,K.P., Choudhary,V., Christoffels,A., Clutterbuck,D.R.,
            Crowe,M.L., Dalla,E., Dalrymple,B.P., de Bono,B., Della Gatta,G.,
            di Bernardo,D., Down,T., Engstrom,P., Fagiolini,M., Faulkner,G.,
            Fletcher,C.F., Fukushima,T., Furuno,M., Futaki,S., Gariboldi,M.,
            Georgii-Hemming,P., Gingeras,T.R., Gojobori,T., Green,R.E.,
            Gustincich,S., Harbers,M., Hayashi,Y., Hensch,T.K., Hirokawa,N.,
            Hill,D., Huminiecki,L., Iacono,M., Ikeo,K., Iwama,A., Ishikawa,T.,
            Jakt,M., Kanapin,A., Katoh,M., Kawasawa,Y., Kelso,J., Kitamura,H.,
            Kitano,H., Kollias,G., Krishnan,S.P., Kruger,A., Kummerfeld,S.K.,
            Kurochkin,I.V., Lareau,L.F., Lazarevic,D., Lipovich,L., Liu,J.,
            Liuni,S., McWilliam,S., Madan Babu,M., Madera,M., Marchionni,L.,
            Matsuda,H., Matsuzawa,S., Miki,H., Mignone,F., Miyake,S.,
            Morris,K., Mottagui-Tabar,S., Mulder,N., Nakano,N., Nakauchi,H.,
            Ng,P., Nilsson,R., Nishiguchi,S., Nishikawa,S., Nori,F., Ohara,O.,
            Okazaki,Y., Orlando,V., Pang,K.C., Pavan,W.J., Pavesi,G.,
            Pesole,G., Petrovsky,N., Piazza,S., Reed,J., Reid,J.F., Ring,B.Z.,
            Ringwald,M., Rost,B., Ruan,Y., Salzberg,S.L., Sandelin,A.,
            Schneider,C., Schonbach,C., Sekiguchi,K., Semple,C.A., Seno,S.,
            Sessa,L., Sheng,Y., Shibata,Y., Shimada,H., Shimada,K., Silva,D.,
            Sinclair,B., Sperling,S., Stupka,E., Sugiura,K., Sultana,R.,
            Takenaka,Y., Taki,K., Tammoja,K., Tan,S.L., Tang,S., Taylor,M.S.,
            Tegner,J., Teichmann,S.A., Ueda,H.R., van Nimwegen,E., Verardo,R.,
            Wei,C.L., Yagi,K., Yamanishi,H., Zabarovsky,E., Zhu,S., Zimmer,A.,
            Hide,W., Bult,C., Grimmond,S.M., Teasdale,R.D., Liu,E.T.,
            Brusic,V., Quackenbush,J., Wahlestedt,C., Mattick,J.S., Hume,D.A.,
            Kai,C., Sasaki,D., Tomaru,Y., Fukuda,S., Kanamori-Katayama,M.,
            Suzuki,M., Aoki,J., Arakawa,T., Iida,J., Imamura,K., Itoh,M.,
            Kato,T., Kawaji,H., Kawagashira,N., Kawashima,T., Kojima,M.,
            Kondo,S., Konno,H., Nakano,K., Ninomiya,N., Nishio,T., Okada,M.,
            Plessy,C., Shibata,K., Shiraki,T., Suzuki,S., Tagami,M., Waki,K.,

LINK NCBI

In [743]:
import re
id_lista = []
# print(genes)
existe = re.findall(r'ACCESSION\s+[^\s]+', locus)
#\s+ um ou mais espaços
#[^\s]+ indica um conjunto de caracteres que se podem repetir uma ou mais vezes

if existe:
    for c in existe:
        m = re.match(r'ACCESSION\s+([^\s]+)', c )
        if m:
            id = m.group(1)
            id_lista.append("https://www.ncbi.nlm.nih.gov/nuccore/{}".format( id ) )
else:
    print( "Padrão não encontrado" )
id_lista

['https://www.ncbi.nlm.nih.gov/nuccore/X56237',
 'https://www.ncbi.nlm.nih.gov/nuccore/AAADK0077081',
 'https://www.ncbi.nlm.nih.gov/nuccore/AAADK0017277',
 'https://www.ncbi.nlm.nih.gov/nuccore/AAADK0016387',
 'https://www.ncbi.nlm.nih.gov/nuccore/L33068']

ACCESSION

In [744]:
acc_list = []

existe = re.findall(r'ACCESSION\s+.*?(?=VERSION)', locus, re.DOTALL)
#\s+ um ou mais espaços
#\.* encontra o caractere ponto final zero ou mais vezes
#?= something que faz match com VERSION mas não consome estes carateres
if existe:
    for accession in existe:
        m = re.match( r'ACCESSION\s+(.+)', accession, re.DOTALL )
        acc_list.append(re.sub(r'\s+', ' ', m.group(1) ) )
#(.+) agrupar um ou mais caracteres dentro de um grupo
#re.sub(r'\s+', ' ' ...) substitui um ou mais espaços por apenas um espaço
acc_list

['X56237 ', 'AAADK0077081 ', 'AAADK0017277 ', 'AAADK0016387 ', 'L33068 ']

VERSION

In [745]:
version_list = []

existe = re.findall(r'VERSION.*?(?=KEYWORDS|DBLINK)', locus, re.DOTALL)
#\s+ um ou mais espaços
#\.* encontra o caractere ponto final zero ou mais vezes
#?= something que faz match com VERSION mas não consome estes carateres
if existe:
    for vers in existe:
        m = re.match( r'VERSION\s+(.+)', vers, re.DOTALL )
        version_list.append(re.sub(r'\s+', ' ', m.group(1) ) )
#(.+) agrupar um ou mais caracteres dentro de um grupo
#re.sub(r'\s+', ' ' ...) substitui um ou mais espaços por apenas um espaço
version_list

['X56237.1 ',
 'AAADK0077081.1 ',
 'AAADK0017277.1 ',
 'AAADK0016387.1 ',
 'L33068.1 ']

DEFINITION

In [746]:
defi_list = []
existe = re.findall(r'DEFINITION\s+.*?(?=ACCESSION)', locus, re.DOTALL)
if existe:
    for definition in existe:
        m = re.match( r'DEFINITION\s+(.+)', definition, re.DOTALL )
        defi_list.append(re.sub(r'\s+', ' ', m.group(1) ) )
defi_list

['N. crassa NUO-32 mRNA for NADH dehydrogenase 32 kD subunit. ',
 'Mus musculus strain C57BL/6Jx129/Sv. ',
 'Mus musculus strain C57BL/6Jx129/Sv. ',
 'Mus musculus strain C57BL/6Jx129/Sv. ',
 'Human immunodeficiency virus type 1 proviral envelope glycoprotein (env) gene V4/CD4-binding region, partial sequence (LH20-2). ']

LOCUS

In [747]:
loc_list = []
existe = re.findall(r'LOCUS\s+.*?(?=DEFINITION)', locus, re.DOTALL)
if existe:
    for loc in existe:
        m = re.match( r'LOCUS\s+(.+)', loc, re.DOTALL )
        loc_list.append(re.sub(r'\s+', ' ', m.group(1) ) )
loc_list

['X56237 1077 bp mRNA linear PLN 12-JUN-2006 ',
 'AAADK0077081 20 bp RNA linear ROD 20-SEP-2005 ',
 'AAADK0017277 21 bp RNA linear ROD 20-SEP-2005 ',
 'AAADK0016387 21 bp RNA linear ROD 20-SEP-2005 ',
 'HIV1LH22M 184 bp DNA linear VRL 31-JUL-1995 ']

LOCUS NAME

In [748]:
loc_name_list = []
existe = re.findall(r'LOCUS\s + [^\s]+', locus, re.DOTALL)
if existe:
    for id in existe:
        m = re.match( r'LOCUS\s+(.+)', id, re.DOTALL )
        loc_name_list.append(re.sub(r'\s+', ' ', m.group(1) ) )
loc_name_list

['X56237', 'AAADK0077081', 'AAADK0017277', 'AAADK0016387', 'HIV1LH22M']

NUMBER OF BP

In [749]:
loc_bp_list = []
loc = []

existe = re.findall(r'LOCUS\s+.*?(?=DEFINITION)', locus, re.DOTALL)
# print(existe)
if existe:
    for c in existe:
        loc.append(list(filter(None, c.split(' '))))
for x in range(len(loc)):
    loc_bp_list.append(' '.join(loc[x][2:4])) 

#cria lista com os valores do locus, e escolhe os 3º e 4º caracteres, que correspondem ao nr de bp
loc_bp_list

['1077 bp', '20 bp', '21 bp', '21 bp', '184 bp']

MOLECULE TYPE

In [750]:
mol_type = []
for m in range(len(loc)):
    if "linear" in loc[m][5]:
        mol_type.append(' '.join(loc[m][4:6]))
    else:
        mol_type.append(' '.join(loc[m][4:5]))
#temos que corrigir esta porque as mol types podem ser de uma, duas ou trÊs palavras..
mol_type

['mRNA linear', 'RNA linear', 'RNA linear', 'RNA linear', 'DNA linear']

GENBANK DIVISION

In [751]:
gb_div = []
for gb in range(len(loc)):
    gb_div.append(' '.join(loc[gb][6:7]))
gb_div

['PLN', 'ROD', 'ROD', 'ROD', 'VRL']

MODIFICATION DATE

In [752]:
mod_date = []
for md in range(len(loc)):
    mod_date.append(''.join(loc[md][7]).replace("\n",""))
mod_date

['12-JUN-2006', '20-SEP-2005', '20-SEP-2005', '20-SEP-2005', '31-JUL-1995']

SOURCE

In [753]:
source_list = []
existe = re.findall(r'SOURCE\s+.*?(?=ORGANISM)', locus, re.DOTALL)
# print(existe)
if existe:
    for source in existe:
        m = re.match( r'SOURCE\s+(.+)', source, re.DOTALL )
        source_list.append(re.sub(r'\s+', ' ', m.group(1) ) )
source_list

['Neurospora crassa ',
 'Mus musculus (house mouse) ',
 'Mus musculus (house mouse) ',
 'Mus musculus (house mouse) ',
 'Human immunodeficiency virus 1 (HIV-1) ']

ORGANISM

In [754]:
org_list = []
existe = re.findall(r'ORGANISM\s+.*?(?=\n)', locus, re.DOTALL)
if existe:
    for org in existe:
        m = re.match( r'ORGANISM\s+(.+)', org, re.DOTALL )
        org_list.append(re.sub(r'\s+', ' ', m.group(1) ) )
org_list

['Neurospora crassa',
 'Mus musculus',
 'Mus musculus',
 'Mus musculus',
 'Human immunodeficiency virus 1']

FEATURES - CDS

In [755]:
from Bio import SeqIO

In [756]:
from Bio import Entrez
from Bio import SeqIO
from Bio import SeqFeature
from Bio.SeqFeature import SeqFeature, FeatureLocation

Entrez.email = "pg49849@alunos.uminho.pt"

features=[]
CDS=[] 
source = []
gene = []


for acc in acc_list:
    handle = Entrez.efetch(db="nucleotide", rettype = "gb", retmode= "text", id=acc)
    
    for record in SeqIO.parse(handle,"gb"):
        
        for feature in record.features:
            features.append(feature.type)

        aux_source = []
        aux_gene = []


        for feature in record.features:
            if feature.type == "source":
                aux_source.append(str(feature.location))

            if feature.type == 'gene':
                aux_gene.append(feature.qualifiers["gene"])
 
        gene.append(aux_gene)
        source.append(aux_source)

        record_CDS = []
        for feature in record.features:
            CDS_aux=[]
            if feature.type == "CDS":
                CDS_aux.append(str(feature.location))
                CDS_aux.append(feature.qualifiers["product"])
                CDS_aux.append(feature.qualifiers["protein_id"])
                CDS_aux.append(feature.qualifiers["translation"])
                # print('->' , CDS_aux)
            record_CDS.append(CDS_aux)
            
        CDS.append(record_CDS)

# print(source)
# print(gene)
# print(exon)
# print(intron)
print(features)
print('*',source)
print('->',gene)
print(len(CDS))
print('p', CDS)  
print('->', CDS)

['source', 'gene', 'mRNA', 'CDS', 'sig_peptide', 'mat_peptide', 'polyA_site', 'source', 'source', 'source', 'source', 'gene', 'CDS']
* [['[0:1077](+)'], ['[0:20](+)'], ['[0:21](+)'], ['[0:21](+)'], ['[0:184](+)']]
-> [[['NUO-32']], [], [], [], [['env']]]
5
p [[[], [], [], ['[67:889](+)', ['NADH dehydrogenase subunit'], ['CAA39694.1'], ['MRAALRLLATATATVRPSARFLKPGSPTGLTGLGTHPSPRSALLYLYNHTLDKLKQIPEHSLYRQSAEALTKHRLAIVEQYVPDGYDAWQERARKLLEKHKSDLTARQFDGQHARLVEGPDGRAYFIRQMVPPQDWRDVEWDGAVLDPHFSWVQTGEDVVGAVKLEDSDKLLELDKIRESDPVAYRQGLRDLGIKMGGVVEDKSPVEWESEPPLSAEQIAEMEARIGSGLIEEVVQVAEGELKLVDIMTQARPWEALEEEAPEGQWTYFERKE']], [], [], []], [[]], [[]], [[]], [[], [], ['[<0:>184](+)', ['envelope glycoprotein'], ['AAA73551.1'], ['CNTSRLFNSTWNGTEGLPDITLPCRIKQIINMWQEVGKAMYAPPIKGQIRCSSNITGLLLT']]]]
-> [[[], [], [], ['[67:889](+)', ['NADH dehydrogenase subunit'], ['CAA39694.1'], ['MRAALRLLATATATVRPSARFLKPGSPTGLTGLGTHPSPRSALLYLYNHTLDKLKQIPEHSLYRQSAEALTKHRLAIVEQYVPDGYDAWQERARKLLEKHKSDLTARQFDGQHARLVEGPDGRAYFIRQMVPPQDWRDVEWDGAVLDPHFSWVQTGEDVVGAVKLEDSDKLLELDKIRESDPVAYRQGLRDLGIKMGGVVEDKSPVEWESEPPLSAEQIAEMEARIGSGLIEEVVQVAEGELKLVDIMTQARPWEALEEEAPEGQWTYFERKE']], [], [], []], [[]], [[]], [[]], [[], [], ['[<0:>184](+)', ['envelope glycoprotein'], ['AAA73551.1'], ['CNTSRLFNSTWNGTEGLPDITLPCRIKQIINMWQEVGKAMYAPPIKGQIRCSSNITGLLLT']]]]

SEQUENCE/ORIGIN

In [757]:
seq_origin = []
existe = re.findall(r'ORIGIN\s+.*?(?=//)', locus, re.DOTALL)
if existe:
    for nuc in existe:
        m = re.match( r'ORIGIN\s+(.+)', nuc, re.DOTALL)
        a = re.sub(r'\s+', '', m.group(1) ) 
        num = re.sub(r'\d+','', a)
        seq_origin.append(num)
seq_origin

['ccacaatccaccccaccccaccggaccccgagtcagtcaacaacctccacgacacgactcggaaaccatgcgcgcggcactccgattgctcgcgaccgcgacggctaccgtccgcccgtccgcccgcttcctcaaacccggctccccgaccggcctcaccggcctcggcacccacccgtcgccgcgctccgccctgctgtacctctacaaccacaccctcgacaagctcaagcagatccccgagcactcgctgtaccgccagtccgccgaggccctgaccaagcaccgcctcgccatcgtcgagcagtacgtgcccgacggctacgacgcctggcaggagcgcgcccgcaagctgctcgagaagcacaagagcgacctcacggcccgccagttcgacggccagcatgcccgcctagtcgaaggccccgacggccgcgcttacttcatccgccagatggtccccccgcaggactggcgcgacgtcgagtgggatggtgccgtcctggatccgcacttttcctgggttcagaccggcgaggatgtcgtcggcgccgtcaagctggaagacagcgacaagctgctcgagctggacaagatcagggaatcagacccggttgcctatcgccagggtctcagggatctcggtatcaagatgggcggtgttgtcgaggacaagagccccgtcgagtgggagtcggagccgccgttgagcgctgaacagattgctgagatggaggccaggattggttctggcttgattgaggaggttgttcaggttgccgagggcgagcttaagctggttgacattatgacccaggccaggccttgggaagctcttgaggaggaggcgccagagggccaatggacttactttgagcgtaaggagtaaacaaacatcgacagacatagagaatgggaacacaggaccaaccaggccatgacggccacctattttatgagcgttacgaagaagaagggaggacaggcatttctcagccagttgtacctataccataccacgccgggacatgtatataatcatcgactttggcaggcgggaatgactatgccctcctt',
 'ggcgtcctcagctcggggct',
 'ggcaagtgcttccggagaggt',
 'ggcatacagcatccacttcct',
 'tgtaatacatcacgactatttaatagtacttggaatggtactgaagggttacctgacatcacactcccatgcagaataaaacaaatcataaacatgtggcaggaagtaggaaaagcaatgtatgcccctcccatcaaaggacaaattagatgttcatcaaatattacaggactgctattaacaa']

In [758]:
seq_count = []
for seq in seq_origin:
    #contagem de nucleotidos
    A= []
    C= []
    T= []
    G= []
    for n in seq:
        if n == 'a':
            A.append('a')
        if n == 'c':
            C.append('c')
        if n == 't':
            T.append('t')
        if n == 'g':
            G.append('g')
        
    a = len(A)
    c = len(C)
    t = len(T)
    g = len(G)
    seq_count.append([a,c,t,g])
    #fazer append de um array
seq_count

[[233, 353, 179, 312],
 [1, 7, 4, 8],
 [4, 4, 4, 9],
 [5, 8, 5, 3],
 [71, 36, 45, 32]]

In [759]:
length = []
for seq in seq_origin:
    length.append(len(seq))
length

[1077, 20, 21, 21, 184]

PUBMED

In [760]:
pub_list = []
existe = re.findall(r'PUBMED\s+.*?(?=REFERENCE|COMMENT)', locus, re.DOTALL)
# print(existe)
if existe:
    for pubm in existe:
        m = re.match( r'PUBMED\s+(.+)?(?=\w)', pubm, re.DOTALL )
        pub_list.append(re.sub(r'\s+\w+.*', ' ', m.group(1) ) )
print(pub_list)

#procurar os ficheiros que tem o campo PUBMED, se não tiver vai valor vazio na lista (para fazer a relação genbank-PM)
file_locus_pub_list = []
for x in locus_list:
    aux_pub_list = []
    existe = re.findall(r'PUBMED\s+.*?(?=REFERENCE|COMMENT)', x, re.DOTALL)
    # print(existe)
    if existe:
        for pubm in existe:
            m = re.match( r'PUBMED\s+(.+)?(?=\w)', pubm, re.DOTALL )

            aux_pub_list.append(re.sub(r'\s+\w+.*', ' ', m.group(1) ) )
    else:
        aux_pub_list.append('')
    file_locus_pub_list.append(aux_pub_list)

print(file_locus_pub_list)

['183048', '1466314', '1496030', '16141072 ', '1614107', '16645617 ', '1466314', '1496030', '16141072 ', '1614107', '16645617 ', '1466314', '1496030', '16141072 ', '1614107', '16645617 ', '787013']
[['183048'], ['1466314', '1496030', '16141072 ', '1614107', '16645617 '], ['1466314', '1496030', '16141072 ', '1614107', '16645617 '], ['1466314', '1496030', '16141072 ', '1614107', '16645617 '], ['787013']]

In [761]:
import requests
from bs4 import BeautifulSoup

def url_get_id_pm(item):
    url_id_pm = []
    for id_pm in item:
        url = f"https://pubmed.ncbi.nlm.nih.gov/{id_pm}/"
        url_id_pm.append(url)
    return url_id_pm

pm = ""
soup = []
content_pm = []
urls = url_get_id_pm(pub_list)
print(urls)

for url in urls:
	r2 = requests.get(url)
	pm += r2.content.decode('utf-8')
	soup.append(BeautifulSoup(r2.content, 'html.parser'))
	content_pm.append(r2.content.decode('utf-8'))

#print(soup)
#print(content_pm)

['https://pubmed.ncbi.nlm.nih.gov/183048/', 'https://pubmed.ncbi.nlm.nih.gov/1466314/', 'https://pubmed.ncbi.nlm.nih.gov/1496030/', 'https://pubmed.ncbi.nlm.nih.gov/16141072 /', 'https://pubmed.ncbi.nlm.nih.gov/1614107/', 'https://pubmed.ncbi.nlm.nih.gov/16645617 /', 'https://pubmed.ncbi.nlm.nih.gov/1466314/', 'https://pubmed.ncbi.nlm.nih.gov/1496030/', 'https://pubmed.ncbi.nlm.nih.gov/16141072 /', 'https://pubmed.ncbi.nlm.nih.gov/1614107/', 'https://pubmed.ncbi.nlm.nih.gov/16645617 /', 'https://pubmed.ncbi.nlm.nih.gov/1466314/', 'https://pubmed.ncbi.nlm.nih.gov/1496030/', 'https://pubmed.ncbi.nlm.nih.gov/16141072 /', 'https://pubmed.ncbi.nlm.nih.gov/1614107/', 'https://pubmed.ncbi.nlm.nih.gov/16645617 /', 'https://pubmed.ncbi.nlm.nih.gov/787013/']

AUTHOR, JOURNAL, TITLE, AFFILIATION

In [762]:
import re
from Bio import SeqIO
from Bio import Entrez
from Bio import Medline
import pandas as pd
import numpy as np

In [763]:
Ids=[]
title_list = []
abstract = []
author = []
affiliation = []
journal = []
database = 'PubMed'
Entrez.email= "pg49836@alunos.uminho.pt"
# idlist= pub_list
idlist = []
handle = Entrez.efetch(db=database, id=pub_list, rettype="medline", retmode="text") 
records = Medline.parse(handle)
description=[]
for info in records:
    title_list.append(info.get("TI", "-"))
    author.append(info.get("AU", "-"))
    journal.append(info.get("SO", "-"))
    affiliation.append(info.get("AD", "-") )
    abstract.append(info.get("AB", "-"))
    print()
print(title_list)
print(abstract)
print(author)
print(affiliation)
print(journal)

["[Short recapitulation for the next thirsty spell: our kidneys - the body's water police].", 'Therapeutic management of triglycerides: an international perspective.', '[The relation between venous stasis and the occurrence of pain].', 'The transcriptional landscape of the mammalian genome.', '[The fate of corneal transplants from the Zurich eye bank].', 'Genome-wide analysis of mammalian promoter architecture and evolution.', 'A comparison between conventional gingivectomy and a non-surgical regime in the treatment of periodontitis.']
['-', 'Current recommendations from various international expert committees generally concur in their definitions of borderline and high triglyceride levels, with small but important differences between recommendations in the definition of normal levels. However, population-based data on triglyceride levels are poorly developed in most countries, making difficult any international comparisons of prevalences of hypertriglyceridemia using the new definitions. However, it is probable that there should be considerable differences in the prevalence of hypertriglyceridemia, probably due to a mixture of genetic and environmental influences. The management of hypertriglyceridemia must continue to emphasize the detection and correction of secondary causes, even though the specific secondary causes may vary between countries. Dietary and exercise interventions must deal with local customs and resources, including striking international differences in alcohol consumption. Pharmacologic therapies will likely increase in use if they follow the trends in countries with available data. Although various drugs are available, nicotinic acid and fibric acid derivatives remain the drugs of choice. Considerably more research is needed to describe these international differences in etiology, prevalence and management practices of hypertriglyceridemia.', 'Venous stasis is a situation encountered commonly in varicose disorders. The potential implications of this decrease in oxygen levels in terms of the status of the cells of the vein were assessed. When endothelial cells are subjected to hypoxia, there is stimulation of the cells which shows itself as increased synthesis of prostaglandins and of PAF (Platelet Activating Factor). The synthesis of these typical mediators of inflammation results from activation by the calcium of phospholipase A2 which releases the arachidonic acid of phospholipids and this increase in intracellular calcium results itself from a fall in efficacy of calcium pumps due to the fall in ATP caused by hypoxia. Thus the fall in oxygen leads to the production of mediators of inflammation which activate leucocytes and result in local micro-inflammation which can be very rapidly eliminated if the circulation is restored but which can also cause irreversible damage to the vein by changes in venous tissue due to activated leucocytes which release proteases and free radicals after having penetrated the intima of the vein. These processes offer an explanation for the histological changes seen in varicose veins and the onset of localised pain during the development of such disease.', "This study describes comprehensive polling of transcription start and termination sites and analysis of previously unidentified full-length complementary DNAs derived from the mouse genome. We identify the 5' and 3' boundaries of 181,047 transcripts with extensive variation in transcripts arising from alternative promoter usage, splicing, and polyadenylation. There are 16,247 new mouse protein-coding transcripts, including 5154 encoding previously unidentified proteins. Genomic mapping of the transcriptome reveals transcriptional forests, with overlapping transcription on both strands, separated by deserts in which few transcripts are observed. The data provide a comprehensive platform for the comparative analysis of mammalian transcriptional regulation in differentiation and development.", "In a retrospective study, we investigated the survival of transplanted corneal material, which had been sent between 1988 and 1989 from the Zurich Eye Bank to both domestic and foreign physicians and clinics. A questionnaire was used to determine diagnosis, transplant survival, cause of any opacification, the occurrence of problems of epithelialisation, loosening of sutures, as well as vascularization of the host cornea. Of a total of 416 corneas, 327 or 79% could be evaluated. The mean follow-up periods of the various diagnostic groups ranged from 11 to 20 months, with a range of 1 to 35 months. After 18 months, the rate of clear transplants was 96% in the keratokonus group. This rate was significantly better than that of the bullous keratopathy group (77%, p less than 0.013) or that of all other diagnosis groups (72%, p less than 0.001). The difference to the 81% survival rate of the group with Fuchs' endothelial dystrophy was not significant. The most frequent cause of transplant opacification was primary transplant failure. Analysis of possible risk factors further confirmed that transplant opacification occurs more frequent in the presence of vascularization of the host cornea.", "Mammalian promoters can be separated into two classes, conserved TATA box-enriched promoters, which initiate at a well-defined site, and more plastic, broad and evolvable CpG-rich promoters. We have sequenced tags corresponding to several hundred thousand transcription start sites (TSSs) in the mouse and human genomes, allowing precise analysis of the sequence architecture and evolution of distinct promoter classes. Different tissues and families of genes differentially use distinct types of promoters. Our tagging methods allow quantitative analysis of promoter usage in different tissues and show that differentially regulated alternative TSSs are a common feature in protein-coding genes and commonly generate alternative N termini. Among the TSSs, we identified new start sites associated with the majority of exons and with 3' UTRs. These data permit genome-scale identification of tissue-specific promoters and analysis of the cis-acting elements associated with them.", 'The treatment of periodontitis by scaling and oral hygiene instruction was compared with the same regime augmented by conventional gingivectomy. The procedures were allocated randomly to contralateral sides of the maxillary arches of 28 patients. Following both regimes there was significant reduction in Plaque Index, Gingival Index, crevicular fluid and depths of pockets. There was slight gain in attachment on the non-surgical sides, and a minor loss of attachment on the surgical sides. Comparing the two regimes, over the second half of the study there was no significant difference in Plaque Index or crevicular fluid; however, on the surgical sides there was significantly greater reduction in Gingival Index and depths of pockets. Residual pockets after either technique were associated with more inflammation than where sulcus depths were less than 2 mm. Retrospective comparisons of the initial depths of pockets with the final gingival status indicated that, when initial depths of pockets had been 3 mm or over, surgical treatment was more effective than non-surgical in reducing the final values of both depths of pockets and inflammation; this finding was statistically significant for some, but not all of the parameters. Treatment of shallow pockets by either technique was more effective than the treatment of deep pockets. Final Plaque Index values of zero were associated with significantly less inflammation and pocketing than where plaque deposits could be detected.']
[['Baranowsky W'], ['Pearson TA'], ['Remacle J', 'Arnould T', 'Michiels C'], ['Carninci P', 'Kasukawa T', 'Katayama S', 'Gough J', 'Frith MC', 'Maeda N', 'Oyama R', 'Ravasi T', 'Lenhard B', 'Wells C', 'Kodzius R', 'Shimokawa K', 'Bajic VB', 'Brenner SE', 'Batalov S', 'Forrest AR', 'Zavolan M', 'Davis MJ', 'Wilming LG', 'Aidinis V', 'Allen JE', 'Ambesi-Impiombato A', 'Apweiler R', 'Aturaliya RN', 'Bailey TL', 'Bansal M', 'Baxter L', 'Beisel KW', 'Bersano T', 'Bono H', 'Chalk AM', 'Chiu KP', 'Choudhary V', 'Christoffels A', 'Clutterbuck DR', 'Crowe ML', 'Dalla E', 'Dalrymple BP', 'de Bono B', 'Della Gatta G', 'di Bernardo D', 'Down T', 'Engstrom P', 'Fagiolini M', 'Faulkner G', 'Fletcher CF', 'Fukushima T', 'Furuno M', 'Futaki S', 'Gariboldi M', 'Georgii-Hemming P', 'Gingeras TR', 'Gojobori T', 'Green RE', 'Gustincich S', 'Harbers M', 'Hayashi Y', 'Hensch TK', 'Hirokawa N', 'Hill D', 'Huminiecki L', 'Iacono M', 'Ikeo K', 'Iwama A', 'Ishikawa T', 'Jakt M', 'Kanapin A', 'Katoh M', 'Kawasawa Y', 'Kelso J', 'Kitamura H', 'Kitano H', 'Kollias G', 'Krishnan SP', 'Kruger A', 'Kummerfeld SK', 'Kurochkin IV', 'Lareau LF', 'Lazarevic D', 'Lipovich L', 'Liu J', 'Liuni S', 'McWilliam S', 'Madan Babu M', 'Madera M', 'Marchionni L', 'Matsuda H', 'Matsuzawa S', 'Miki H', 'Mignone F', 'Miyake S', 'Morris K', 'Mottagui-Tabar S', 'Mulder N', 'Nakano N', 'Nakauchi H', 'Ng P', 'Nilsson R', 'Nishiguchi S', 'Nishikawa S', 'Nori F', 'Ohara O', 'Okazaki Y', 'Orlando V', 'Pang KC', 'Pavan WJ', 'Pavesi G', 'Pesole G', 'Petrovsky N', 'Piazza S', 'Reed J', 'Reid JF', 'Ring BZ', 'Ringwald M', 'Rost B', 'Ruan Y', 'Salzberg SL', 'Sandelin A', 'Schneider C', 'Schonbach C', 'Sekiguchi K', 'Semple CA', 'Seno S', 'Sessa L', 'Sheng Y', 'Shibata Y', 'Shimada H', 'Shimada K', 'Silva D', 'Sinclair B', 'Sperling S', 'Stupka E', 'Sugiura K', 'Sultana R', 'Takenaka Y', 'Taki K', 'Tammoja K', 'Tan SL', 'Tang S', 'Taylor MS', 'Tegner J', 'Teichmann SA', 'Ueda HR', 'van Nimwegen E', 'Verardo R', 'Wei CL', 'Yagi K', 'Yamanishi H', 'Zabarovsky E', 'Zhu S', 'Zimmer A', 'Hide W', 'Bult C', 'Grimmond SM', 'Teasdale RD', 'Liu ET', 'Brusic V', 'Quackenbush J', 'Wahlestedt C', 'Mattick JS', 'Hume DA', 'Kai C', 'Sasaki D', 'Tomaru Y', 'Fukuda S', 'Kanamori-Katayama M', 'Suzuki M', 'Aoki J', 'Arakawa T', 'Iida J', 'Imamura K', 'Itoh M', 'Kato T', 'Kawaji H', 'Kawagashira N', 'Kawashima T', 'Kojima M', 'Kondo S', 'Konno H', 'Nakano K', 'Ninomiya N', 'Nishio T', 'Okada M', 'Plessy C', 'Shibata K', 'Shiraki T', 'Suzuki S', 'Tagami M', 'Waki K', 'Watahiki A', 'Okamura-Oho Y', 'Suzuki H', 'Kawai J', 'Hayashizaki Y'], ['Hoppeler T', 'Ganzfried R', 'Gloor B'], ['Carninci P', 'Sandelin A', 'Lenhard B', 'Katayama S', 'Shimokawa K', 'Ponjavic J', 'Semple CA', 'Taylor MS', 'Engstrom PG', 'Frith MC', 'Forrest AR', 'Alkema WB', 'Tan SL', 'Plessy C', 'Kodzius R', 'Ravasi T', 'Kasukawa T', 'Fukuda S', 'Kanamori-Katayama M', 'Kitazume Y', 'Kawaji H', 'Kai C', 'Nakamura M', 'Konno H', 'Nakano K', 'Mottagui-Tabar S', 'Arner P', 'Chesi A', 'Gustincich S', 'Persichetti F', 'Suzuki H', 'Grimmond SM', 'Wells CA', 'Orlando V', 'Wahlestedt C', 'Liu ET', 'Harbers M', 'Kawai J', 'Bajic VB', 'Hume DA', 'Hayashizaki Y'], ['Waite IM']]
['-', ['Mary Imogene Bassett Research Institute, Cooperstown, New York 13326.'], ['Laboratoire de Biochimie Cellulaire, Facultes Universitaires Notre-Dame de la Paix, Bruxelles, Belgique.'], '-', ['Augenklinik des Universitatsspitals Zurich.'], ['Genome Exploration Research Group, RIKEN Genomic Sciences Center, RIKEN Yokohama Institute, 1-7-22 Suehiro-cho, Tsurumi-ku, Yokohama, Kanagawa, 230-0045, Japan.'], '-']
['Krankenpflege (Frankf). 1976 Jun;30(6):193-4.', 'Am J Cardiol. 1992 Dec 14;70(19):26H-31H. doi: 10.1016/0002-9149(92)91087-k.', 'Phlebologie. 1992 Jan-Mar;45(1):33-7; discussion 38-9.', 'Science. 2005 Sep 2;309(5740):1559-63. doi: 10.1126/science.1112014.', 'Klin Monbl Augenheilkd. 1992 May;200(5):388-91. doi: 10.1055/s-2008-1045772.', 'Nat Genet. 2006 Jun;38(6):626-35. doi: 10.1038/ng1789. Epub 2006 Apr 28.', 'J Clin Periodontol. 1976 Aug;3(3):173-85. doi: 10.1111/j.1600-051x.1976.tb01865.x.']

CONNECTION TO DATABASE

In [764]:
import mysql.connector as SQLC
try: 
    DataBase = SQLC.connect(
    host ="127.0.0.1",
    user ="user",
    password ="password",
        database ="teste"
    )
    Cursor = DataBase.cursor()

    TableName ="""CREATE TABLE IF NOT EXISTS `LOCUS` (
        `Id_locus` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        `Accession` VARCHAR(100) NOT NULL,
        `Sequence_length` INT NULL,
        `Molecule_type` VARCHAR(20) NULL,
        `GB_division` VARCHAR(10) NULL,
        `Source` VARCHAR(200) NULL,
        `Organism` VARCHAR(200) NULL,
        `Locus_name` VARCHAR(45) NULL
        );
    """
    Cursor.execute(TableName)
    sql_loc = "INSERT INTO LOCUS (Locus_name, Sequence_length, Molecule_type, GB_division, Source, Organism, Accession) VALUES"
    loc_name_list = list(dict.fromkeys(loc_name_list))  
    for index in range(len(loc_name_list)):
       
        select_ids_loc = f"SELECT Id_Locus FROM LOCUS WHERE Locus_name = \"{loc_name_list[index]}\""
        Cursor.execute(select_ids_loc)
        myresult_locus = Cursor.fetchall()
        id_loc = None
        for res_loc, in myresult_locus:
            id_loc = res_loc
        if id_loc is None: 
            if index == len(loc_name_list)-1:
                sql_loc += f" (\"{loc_name_list[index]}\", \"{length[index]}\", \"{mol_type[index]}\", \"{gb_div[index]}\", \"{source_list[index]}\", \"{org_list[index]}\", \"{acc_list[index]}\")"
            else:
                sql_loc += f" (\"{loc_name_list[index]}\", \"{length[index]}\", \"{mol_type[index]}\", \"{gb_div[index]}\", \"{source_list[index]}\", \"{org_list[index]}\", \"{acc_list[index]}\"),"
    print(sql_loc)
    if sql_loc != "INSERT INTO LOCUS (Locus_name, Sequence_length, Molecule_type, GB_division, Source, Organism, Accession) VALUES": 
        if sql_loc.endswith(","):  
            sql_loc = sql_loc[:-1]
        Cursor.execute(sql_loc)

    DataBase.commit()

    print(Cursor.rowcount, "record inserted.")

    Cursor.close()

except SQLC.Error as error:
    print("Failed to insert record into MySQL table {}".format(error))

INSERT INTO LOCUS (Locus_name, Sequence_length, Molecule_type, GB_division, Source, Organism, Accession) VALUES ("X56237", "1077", "mRNA linear", "PLN", "Neurospora crassa ", "Neurospora crassa", "X56237 "), ("AAADK0077081", "20", "RNA linear", "ROD", "Mus musculus (house mouse) ", "Mus musculus", "AAADK0077081 "), ("AAADK0017277", "21", "RNA linear", "ROD", "Mus musculus (house mouse) ", "Mus musculus", "AAADK0017277 "), ("AAADK0016387", "21", "RNA linear", "ROD", "Mus musculus (house mouse) ", "Mus musculus", "AAADK0016387 "), ("HIV1LH22M", "184", "DNA linear", "VRL", "Human immunodeficiency virus 1 (HIV-1) ", "Human immunodeficiency virus 1", "L33068 ")
5 record inserted.

In [765]:
import mysql.connector as SQLC
try: 
    DataBase = SQLC.connect(
    host ="127.0.0.1",
    user ="user",
    password ="password",
        database ="teste"
    )
    Cursor = DataBase.cursor()

    TableName ="""CREATE TABLE IF NOT EXISTS `GENBANK` (
        `Id_GB` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        `GB_id` VARCHAR(45) NOT NULL,
        `Definition` VARCHAR(400) NULL,
        `Modification_date` VARCHAR(11) NULL,
        `Version` VARCHAR(20) NOT NULL UNIQUE,
        `LOCUS_Id_locus` INT NOT NULL,
        `ORIGIN_Id_origin` INT NULL
    )
    """
    Cursor.execute(TableName)
    sql_gb = "INSERT INTO GENBANK (GB_Id, Modification_date, Definition, Version, LOCUS_Id_locus, ORIGIN_Id_origin) VALUES"
    

    for index in range(len(version_list)):
        sql_insert_origin = "INSERT INTO ORIGIN (Sequence, Length, Adenine, Citosine, Timine , Guanine) VALUES"
        select_ids_origin = f"SELECT Id_Origin FROM ORIGIN WHERE Sequence = \"{seq_origin[index]}\""
        Cursor.execute(select_ids_origin)
        myresult_origin = Cursor.fetchall()
        id_ori = None
        for res_ori, in myresult_origin:
            id_ori = res_ori

        if id_ori is None: 
            if index == len(loc_name_list)-1:
                sql_insert_origin += f" (\"{seq_origin[index]}\", \"{length[index]}\", \"{seq_count[index][0]}\", \"{seq_count[index][1]}\", \"{seq_count[index][2]}\",  \"{seq_count[index][3]}\")"
            else:
                sql_insert_origin += f" (\"{seq_origin[index]}\", \"{length[index]}\", \"{seq_count[index][0]}\", \"{seq_count[index][1]}\", \"{seq_count[index][2]}\",  \"{seq_count[index][3]}\"),"

        if sql_insert_origin != "INSERT INTO ORIGIN (Sequence, Length, Adenine, Citosine, Timine , Guanine) VALUES":
            # select_ids_origin += f" (\"{seq_origin[index]}\", \"{length[index]}\", \"{seq_count[index][0]}\", \"{seq_count[index][1]}\", \"{seq_count[index][2]}\",  \"{seq_count[index][3]}\")"
            if sql_insert_origin.endswith(","):  #remove ultimo caracter se este for uma ","
                sql_insert_origin = sql_insert_origin[:-1] #remove utimo caracter da string
            Cursor.execute(sql_insert_origin)

            # print(Cursor.lastrowid)  #buscar o id do origin inserido
            id_inserted_origin = Cursor.lastrowid
        else:
            id_inserted_origin = id_ori


        #fazer a verificação se existe locus repetido (evitar duplicados)
        select_locus = f"SELECT Id_locus from LOCUS where Locus_name = '{loc_name_list[index]}'"
        Cursor.execute(select_locus)
        myresult = Cursor.fetchall()
        id_locus = None
        for res, in myresult:
            id_locus = res
        
        if id_locus is not None:
            select_gb = f"SELECT Id_GB from GENBANK where GB_Id = '{loc_name_list[index]}'"
            Cursor.execute(select_gb)
            myresult_gb = Cursor.fetchall()
            id_genbank = None
            for res_gb, in myresult_gb:
                id_genbank = res_gb
            
            if id_genbank is None:
                if index == len(version_list)-1:
                    sql_gb += f" (\"{loc_name_list[index]}\", \"{mod_date[index]}\", \"{defi_list[index]}\", \"{version_list[index]}\", \"{id_locus}\", \"{id_inserted_origin}\")"
                else:
                    sql_gb += f" (\"{loc_name_list[index]}\", \"{mod_date[index]}\", \"{defi_list[index]}\", \"{version_list[index]}\", \"{id_locus}\", \"{id_inserted_origin}\"),"
                
    if sql_gb != "INSERT INTO GENBANK (GB_Id, Modification_date, Definition, Version, LOCUS_Id_locus, ORIGIN_Id_origin) VALUES":

        if sql_gb.endswith(","):  #remove ultimo caracter se este for uma ","
            sql_gb = sql_gb[:-1] #remove utimo caracter da string
            
        Cursor.execute(sql_gb)

        DataBase.commit()

        print(Cursor.rowcount, "record inserted.")

    Cursor.close()

except SQLC.Error as error:
    print("Failed to insert record into MySQL table {}".format(error))

5 record inserted.

In [766]:
import mysql.connector as SQLC
try: 
    DataBase = SQLC.connect(
    host ="127.0.0.1",
    user ="user",
    password ="password",
        database ="teste"
    )
    Cursor = DataBase.cursor()

    TableName ="""CREATE TABLE IF NOT EXISTS `PUBMED` (
        `Id_PM` INT NOT NULL AUTO_INCREMENT,
        `PM_ID` INT NOT NULL,
        `Journal` VARCHAR(100) NULL,
        `Title` VARCHAR(500) NULL,
        `Abstract` LONGTEXT NULL,
        PRIMARY KEY (`Id_PM`)
    )
    """
    Cursor.execute(TableName)
    
    #print(journal)
    #print(len(title_list))
    #print(len(abstract))
    #print(len(pub_list))
    sql_pm = "INSERT INTO PUBMED (PM_ID, Journal, Title, Abstract) VALUES"
    pub_list = list(dict.fromkeys(pub_list))  #tirar os duplicados (também n apanha o ultimo)
    #print(pub_list)
    for index in range(len(pub_list)):
        select_pm = f"SELECT Id_PM from PUBMED where PM_Id = '{pub_list[index]}'"
        Cursor.execute(select_pm)
        myresult_pubmed = Cursor.fetchall()
        id_pubmed = None
        for res_pm, in myresult_pubmed:
            id_pubmed = res_pm
        
        if id_pubmed is None:
            if index == len(pub_list)-1:
                sql_pm += f" (\"{pub_list[index]}\", \"{journal[index]}\", \"{title_list[index]}\", \"{abstract[index]}\")"
            else:
                sql_pm += f" (\"{pub_list[index]}\", \"{journal[index]}\", \"{title_list[index]}\", \"{abstract[index]}\"),"
        
    if sql_pm != "INSERT INTO PUBMED (PM_ID, Journal, Title, Abstract) VALUES":
        # select_ids_origin += f" (\"{seq_origin[index]}\", \"{length[index]}\", \"{seq_count[index][0]}\", \"{seq_count[index][1]}\", \"{seq_count[index][2]}\",  \"{seq_count[index][3]}\")"
        if sql_pm.endswith(","):  #remove ultimo caracter se este for uma ","
            sql_pm = sql_pm[:-1] #remove utimo caracter da string
        print(sql_pm)
        Cursor.execute(sql_pm)

        DataBase.commit()

        print(Cursor.rowcount, "record inserted.")

    Cursor.close()
    print(pub_list)

except SQLC.Error as error:
    print("Failed to insert record into MySQL table {}".format(error))

INSERT INTO PUBMED (PM_ID, Journal, Title, Abstract) VALUES ("183048", "Krankenpflege (Frankf). 1976 Jun;30(6):193-4.", "[Short recapitulation for the next thirsty spell: our kidneys - the body's water police].", "-"), ("1466314", "Am J Cardiol. 1992 Dec 14;70(19):26H-31H. doi: 10.1016/0002-9149(92)91087-k.", "Therapeutic management of triglycerides: an international perspective.", "Current recommendations from various international expert committees generally concur in their definitions of borderline and high triglyceride levels, with small but important differences between recommendations in the definition of normal levels. However, population-based data on triglyceride levels are poorly developed in most countries, making difficult any international comparisons of prevalences of hypertriglyceridemia using the new definitions. However, it is probable that there should be considerable differences in the prevalence of hypertriglyceridemia, probably due to a mixture of genetic and environmental influences. The management of hypertriglyceridemia must continue to emphasize the detection and correction of secondary causes, even though the specific secondary causes may vary between countries. Dietary and exercise interventions must deal with local customs and resources, including striking international differences in alcohol consumption. Pharmacologic therapies will likely increase in use if they follow the trends in countries with available data. Although various drugs are available, nicotinic acid and fibric acid derivatives remain the drugs of choice. Considerably more research is needed to describe these international differences in etiology, prevalence and management practices of hypertriglyceridemia."), ("1496030", "Phlebologie. 1992 Jan-Mar;45(1):33-7; discussion 38-9.", "[The relation between venous stasis and the occurrence of pain].", "Venous stasis is a situation encountered commonly in varicose disorders. The potential implications of this decrease in oxygen levels in terms of the status of the cells of the vein were assessed. When endothelial cells are subjected to hypoxia, there is stimulation of the cells which shows itself as increased synthesis of prostaglandins and of PAF (Platelet Activating Factor). The synthesis of these typical mediators of inflammation results from activation by the calcium of phospholipase A2 which releases the arachidonic acid of phospholipids and this increase in intracellular calcium results itself from a fall in efficacy of calcium pumps due to the fall in ATP caused by hypoxia. Thus the fall in oxygen leads to the production of mediators of inflammation which activate leucocytes and result in local micro-inflammation which can be very rapidly eliminated if the circulation is restored but which can also cause irreversible damage to the vein by changes in venous tissue due to activated leucocytes which release proteases and free radicals after having penetrated the intima of the vein. These processes offer an explanation for the histological changes seen in varicose veins and the onset of localised pain during the development of such disease."), ("16141072 ", "Science. 2005 Sep 2;309(5740):1559-63. doi: 10.1126/science.1112014.", "The transcriptional landscape of the mammalian genome.", "This study describes comprehensive polling of transcription start and termination sites and analysis of previously unidentified full-length complementary DNAs derived from the mouse genome. We identify the 5' and 3' boundaries of 181,047 transcripts with extensive variation in transcripts arising from alternative promoter usage, splicing, and polyadenylation. There are 16,247 new mouse protein-coding transcripts, including 5154 encoding previously unidentified proteins. Genomic mapping of the transcriptome reveals transcriptional forests, with overlapping transcription on both strands, separated by deserts in which few transcripts are observed. The data provide a comprehensive platform for the comparative analysis of mammalian transcriptional regulation in differentiation and development."), ("1614107", "Klin Monbl Augenheilkd. 1992 May;200(5):388-91. doi: 10.1055/s-2008-1045772.", "[The fate of corneal transplants from the Zurich eye bank].", "In a retrospective study, we investigated the survival of transplanted corneal material, which had been sent between 1988 and 1989 from the Zurich Eye Bank to both domestic and foreign physicians and clinics. A questionnaire was used to determine diagnosis, transplant survival, cause of any opacification, the occurrence of problems of epithelialisation, loosening of sutures, as well as vascularization of the host cornea. Of a total of 416 corneas, 327 or 79% could be evaluated. The mean follow-up periods of the various diagnostic groups ranged from 11 to 20 months, with a range of 1 to 35 months. After 18 months, the rate of clear transplants was 96% in the keratokonus group. This rate was significantly better than that of the bullous keratopathy group (77%, p less than 0.013) or that of all other diagnosis groups (72%, p less than 0.001). The difference to the 81% survival rate of the group with Fuchs' endothelial dystrophy was not significant. The most frequent cause of transplant opacification was primary transplant failure. Analysis of possible risk factors further confirmed that transplant opacification occurs more frequent in the presence of vascularization of the host cornea."), ("16645617 ", "Nat Genet. 2006 Jun;38(6):626-35. doi: 10.1038/ng1789. Epub 2006 Apr 28.", "Genome-wide analysis of mammalian promoter architecture and evolution.", "Mammalian promoters can be separated into two classes, conserved TATA box-enriched promoters, which initiate at a well-defined site, and more plastic, broad and evolvable CpG-rich promoters. We have sequenced tags corresponding to several hundred thousand transcription start sites (TSSs) in the mouse and human genomes, allowing precise analysis of the sequence architecture and evolution of distinct promoter classes. Different tissues and families of genes differentially use distinct types of promoters. Our tagging methods allow quantitative analysis of promoter usage in different tissues and show that differentially regulated alternative TSSs are a common feature in protein-coding genes and commonly generate alternative N termini. Among the TSSs, we identified new start sites associated with the majority of exons and with 3' UTRs. These data permit genome-scale identification of tissue-specific promoters and analysis of the cis-acting elements associated with them."), ("787013", "J Clin Periodontol. 1976 Aug;3(3):173-85. doi: 10.1111/j.1600-051x.1976.tb01865.x.", "A comparison between conventional gingivectomy and a non-surgical regime in the treatment of periodontitis.", "The treatment of periodontitis by scaling and oral hygiene instruction was compared with the same regime augmented by conventional gingivectomy. The procedures were allocated randomly to contralateral sides of the maxillary arches of 28 patients. Following both regimes there was significant reduction in Plaque Index, Gingival Index, crevicular fluid and depths of pockets. There was slight gain in attachment on the non-surgical sides, and a minor loss of attachment on the surgical sides. Comparing the two regimes, over the second half of the study there was no significant difference in Plaque Index or crevicular fluid; however, on the surgical sides there was significantly greater reduction in Gingival Index and depths of pockets. Residual pockets after either technique were associated with more inflammation than where sulcus depths were less than 2 mm. Retrospective comparisons of the initial depths of pockets with the final gingival status indicated that, when initial depths of pockets had been 3 mm or over, surgical treatment was more effective than non-surgical in reducing the final values of both depths of pockets and inflammation; this finding was statistically significant for some, but not all of the parameters. Treatment of shallow pockets by either technique was more effective than the treatment of deep pockets. Final Plaque Index values of zero were associated with significantly less inflammation and pocketing than where plaque deposits could be detected.")
7 record inserted.
['183048', '1466314', '1496030', '16141072 ', '1614107', '16645617 ', '787013']

In [767]:
import mysql.connector as SQLC
try: 
    DataBase = SQLC.connect(
    host ="127.0.0.1",
    user ="user",
    password ="password",
        database ="teste"
    )
    Cursor = DataBase.cursor()

    TableName ="""CREATE TABLE IF NOT EXISTS `AUTHORS` (
        `Id_Author` INT NOT NULL AUTO_INCREMENT,
        `Name` VARCHAR(45) NULL,
        `AFFILIATION_Id_affiliation` INT NULL,
        PRIMARY KEY (`Id_Author`)
    )
    """
    Cursor.execute(TableName)
    print(len(file_locus_pub_list))
    print(len(loc_name_list))

    for index_ids in range(len(file_locus_pub_list)):
        '''for index in range(len(author[index_ids])):
            #verificar se existe autor (evitar duplicados)
            select_ids_auth = f"SELECT Id_Author FROM AUTHORS WHERE Name = \"{author[index_ids]}\""
            Cursor.execute(select_ids_auth)
            myresult_auth = Cursor.fetchall()
            id_auth = None
            for res, in myresult_auth:
                id_affiliation = res'''

        if file_locus_pub_list[index_ids][0] != '':
            db_id_pm = []
            for pm_ids in file_locus_pub_list[index_ids]:
                select_pm_gb = f"SELECT Id_PM FROM PUBMED WHERE PM_ID = \"{pm_ids}\""
                
                #print(select_pm_gb)
                Cursor.execute(select_pm_gb)
                myresult_pm = Cursor.fetchall()
                id_pm = None
                for res, in myresult_pm:
                    id_pm = res
                db_id_pm.append(id_pm)

            print(db_id_pm)
            select_gb_pm = f"SELECT Id_GB FROM GENBANK WHERE GB_ID= \"{loc_name_list[index_ids]}\""
            print(select_gb_pm)
            Cursor.execute(select_gb_pm)
            myresult_gb = Cursor.fetchall()
            id_gb = None
            for res, in myresult_gb:
                id_gb = res

            index = 0
            sql_pm_gb_relation = "INSERT INTO pm_gb_relationship (PUBMED_Id_PM, GENBANK_Id_GB) VALUES" 
            for id_pm in db_id_pm:
                if id_gb is not None and id_pm is not None:      
                    #verificar se existe relação entre ids
                    select_rel_gb_pm = f"SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = \"{id_pm}\" and GENBANK_Id_GB = \"{id_gb}\""
                    print(select_rel_gb_pm)
                    Cursor.execute(select_rel_gb_pm)
                    myresult_rel_pm_gb = Cursor.fetchall()
                    id_rel_pm_gb = None
                    for res_PUBMED_Id_PM,res_GENBANK_Id_GB, in myresult_rel_pm_gb:   #apenas selecionamos um dos id pq se não houver relação serão ambos null
                        id_rel_pm_gb = res_PUBMED_Id_PM     

                    #se null:
                    if id_rel_pm_gb is None:
                        if index == len(db_id_pm)-1:
                            sql_pm_gb_relation += f" ({id_pm}, {id_gb})"
                        else:
                            sql_pm_gb_relation += f" ({id_pm}, {id_gb}),"
                index += 1

            print(sql_pm_gb_relation)
            if sql_pm_gb_relation != "INSERT INTO pm_gb_relationship (PUBMED_Id_PM, GENBANK_Id_GB) VALUES":
                #remove ultimo caracter se este for uma ","
                if sql_pm_gb_relation.endswith(","):
                    sql_pm_gb_relation = sql_pm_gb_relation[:-1] #remove utimo caracter da string

                print(sql_pm_gb_relation)
                Cursor.execute(sql_pm_gb_relation)
                DataBase.commit()
                print(Cursor.rowcount, "record inserted.")

    
    
    
    Cursor.close()

except SQLC.Error as error:
    print("Failed to insert record into MySQL table {}".format(error))

5
5
[3]
SELECT Id_GB FROM GENBANK WHERE GB_ID= "X56237"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "3" and GENBANK_Id_GB = "10"
INSERT INTO pm_gb_relationship (PUBMED_Id_PM, GENBANK_Id_GB) VALUES (3, 10)
INSERT INTO pm_gb_relationship (PUBMED_Id_PM, GENBANK_Id_GB) VALUES (3, 10)
1 record inserted.
[4, 5, 6, 7, 8]
SELECT Id_GB FROM GENBANK WHERE GB_ID= "AAADK0077081"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "4" and GENBANK_Id_GB = "11"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "5" and GENBANK_Id_GB = "11"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "6" and GENBANK_Id_GB = "11"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "7" and GENBANK_Id_GB = "11"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "8" and GENBANK_Id_GB = "11"
INSERT INTO pm_gb_relationship (PUBMED_Id_PM, GENBANK_Id_GB) VALUES (4, 11), (5, 11), (6, 11), (7, 11), (8, 11)
INSERT INTO pm_gb_relationship (PUBMED_Id_PM, GENBANK_Id_GB) VALUES (4, 11), (5, 11), (6, 11), (7, 11), (8, 11)
5 record inserted.
[4, 5, 6, 7, 8]
SELECT Id_GB FROM GENBANK WHERE GB_ID= "AAADK0017277"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "4" and GENBANK_Id_GB = "12"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "5" and GENBANK_Id_GB = "12"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "6" and GENBANK_Id_GB = "12"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "7" and GENBANK_Id_GB = "12"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "8" and GENBANK_Id_GB = "12"
INSERT INTO pm_gb_relationship (PUBMED_Id_PM, GENBANK_Id_GB) VALUES (4, 12), (5, 12), (6, 12), (7, 12), (8, 12)
INSERT INTO pm_gb_relationship (PUBMED_Id_PM, GENBANK_Id_GB) VALUES (4, 12), (5, 12), (6, 12), (7, 12), (8, 12)
5 record inserted.
[4, 5, 6, 7, 8]
SELECT Id_GB FROM GENBANK WHERE GB_ID= "AAADK0016387"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "4" and GENBANK_Id_GB = "13"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "5" and GENBANK_Id_GB = "13"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "6" and GENBANK_Id_GB = "13"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "7" and GENBANK_Id_GB = "13"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "8" and GENBANK_Id_GB = "13"
INSERT INTO pm_gb_relationship (PUBMED_Id_PM, GENBANK_Id_GB) VALUES (4, 13), (5, 13), (6, 13), (7, 13), (8, 13)
INSERT INTO pm_gb_relationship (PUBMED_Id_PM, GENBANK_Id_GB) VALUES (4, 13), (5, 13), (6, 13), (7, 13), (8, 13)
5 record inserted.
[9]
SELECT Id_GB FROM GENBANK WHERE GB_ID= "HIV1LH22M"
SELECT PUBMED_Id_PM, GENBANK_Id_GB FROM pm_gb_relationship WHERE PUBMED_Id_PM = "9" and GENBANK_Id_GB = "14"
INSERT INTO pm_gb_relationship (PUBMED_Id_PM, GENBANK_Id_GB) VALUES (9, 14)
INSERT INTO pm_gb_relationship (PUBMED_Id_PM, GENBANK_Id_GB) VALUES (9, 14)
1 record inserted.

In [768]:
import mysql.connector as SQLC
try: 
    DataBase = SQLC.connect(
    host ="127.0.0.1",
    user ="user",
    password ="password",
        database ="teste"
    )
    Cursor = DataBase.cursor()

    TableName ="""CREATE TABLE IF NOT EXISTS `AUTHORS` (
        `Id_Author` INT NOT NULL AUTO_INCREMENT,
        `Name` VARCHAR(45) NULL,
        `AFFILIATION_Id_affiliation` INT NULL,
        PRIMARY KEY (`Id_Author`)
    )
    """
    Cursor.execute(TableName)

    for index_pubmed in range(len(pub_list)):
        
        affiliation_ids = []
        for index in range(len(affiliation[index_pubmed])):

            #verificar se existe afiliação (evitar duplicados)
            select_affiliation = f"SELECT Id_affiliation FROM AFFILIATION WHERE Description = \"{affiliation[index_pubmed][index]}\""
            Cursor.execute(select_affiliation)
            myresult_af = Cursor.fetchall()
            id_affiliation = None
            for res, in myresult_af:
                id_affiliation = res


            if id_affiliation is not None:
                affiliation_ids.append(id_affiliation)
            else:
                sql_insert_affiliation = "INSERT INTO AFFILIATION (Description) VALUES" 
                sql_insert_affiliation += f" (\"{affiliation[index_pubmed][index]}\")"
                print(sql_insert_affiliation)
                Cursor.execute(sql_insert_affiliation)
                # print(Cursor.lastrowid)  #buscar o id do affiliation inserido
                affiliation_ids.append(Cursor.lastrowid)


        sql = "INSERT INTO AUTHORS (Name, AFFILIATION_Id_affiliation ) VALUES"
        
        for index in range(len(author[index_pubmed])):
            select_author = f"SELECT Id_Author FROM AUTHORS WHERE Name = \"{author[index_pubmed][index]}\""
            Cursor.execute(select_author)
            myresult_author = Cursor.fetchall()
            id_author = None
            for res, in myresult_author:
                id_author = res


            if id_author is None:
                if index > len(affiliation_ids)-1:
                    if index == len(author[index_pubmed])-1:
                        sql += f" (\"{author[index_pubmed][index]}\", null)"
                    else:
                        sql += f" (\"{author[index_pubmed][index]}\", null),"
                else:
                    if index == len(author[index_pubmed])-1:
                        sql += f" (\"{author[index_pubmed][index]}\", {affiliation_ids[index]})"
                    else:
                        sql += f" (\"{author[index_pubmed][index]}\", {affiliation_ids[index]}),"
    
        print(sql)
        if sql != "INSERT INTO AUTHORS (Name, AFFILIATION_Id_affiliation ) VALUES":
                #remove ultimo caracter se este for uma ","
            if sql.endswith(","):
                sql = sql[:-1]

            Cursor.execute(sql)

    DataBase.commit()

    print(Cursor.rowcount, "record inserted.")

    Cursor.close()

except SQLC.Error as error:
    print("Failed to insert record into MySQL table {}".format(error))

INSERT INTO AFFILIATION (Description) VALUES ("-")
INSERT INTO AUTHORS (Name, AFFILIATION_Id_affiliation ) VALUES ("Baranowsky W", 3)
INSERT INTO AFFILIATION (Description) VALUES ("Mary Imogene Bassett Research Institute, Cooperstown, New York 13326.")
INSERT INTO AUTHORS (Name, AFFILIATION_Id_affiliation ) VALUES ("Pearson TA", 4)
INSERT INTO AFFILIATION (Description) VALUES ("Laboratoire de Biochimie Cellulaire, Facultes Universitaires Notre-Dame de la Paix, Bruxelles, Belgique.")
INSERT INTO AUTHORS (Name, AFFILIATION_Id_affiliation ) VALUES ("Remacle J", 5), ("Arnould T", null), ("Michiels C", null)
INSERT INTO AUTHORS (Name, AFFILIATION_Id_affiliation ) VALUES ("Carninci P", 3), ("Kasukawa T", null), ("Katayama S", null), ("Gough J", null), ("Frith MC", null), ("Maeda N", null), ("Oyama R", null), ("Ravasi T", null), ("Lenhard B", null), ("Wells C", null), ("Kodzius R", null), ("Shimokawa K", null), ("Bajic VB", null), ("Brenner SE", null), ("Batalov S", null), ("Forrest AR", null), ("Zavolan M", null), ("Davis MJ", null), ("Wilming LG", null), ("Aidinis V", null), ("Allen JE", null), ("Ambesi-Impiombato A", null), ("Apweiler R", null), ("Aturaliya RN", null), ("Bailey TL", null), ("Bansal M", null), ("Baxter L", null), ("Beisel KW", null), ("Bersano T", null), ("Bono H", null), ("Chalk AM", null), ("Chiu KP", null), ("Choudhary V", null), ("Christoffels A", null), ("Clutterbuck DR", null), ("Crowe ML", null), ("Dalla E", null), ("Dalrymple BP", null), ("de Bono B", null), ("Della Gatta G", null), ("di Bernardo D", null), ("Down T", null), ("Engstrom P", null), ("Fagiolini M", null), ("Faulkner G", null), ("Fletcher CF", null), ("Fukushima T", null), ("Furuno M", null), ("Futaki S", null), ("Gariboldi M", null), ("Georgii-Hemming P", null), ("Gingeras TR", null), ("Gojobori T", null), ("Green RE", null), ("Gustincich S", null), ("Harbers M", null), ("Hayashi Y", null), ("Hensch TK", null), ("Hirokawa N", null), ("Hill D", null), ("Huminiecki L", null), ("Iacono M", null), ("Ikeo K", null), ("Iwama A", null), ("Ishikawa T", null), ("Jakt M", null), ("Kanapin A", null), ("Katoh M", null), ("Kawasawa Y", null), ("Kelso J", null), ("Kitamura H", null), ("Kitano H", null), ("Kollias G", null), ("Krishnan SP", null), ("Kruger A", null), ("Kummerfeld SK", null), ("Kurochkin IV", null), ("Lareau LF", null), ("Lazarevic D", null), ("Lipovich L", null), ("Liu J", null), ("Liuni S", null), ("McWilliam S", null), ("Madan Babu M", null), ("Madera M", null), ("Marchionni L", null), ("Matsuda H", null), ("Matsuzawa S", null), ("Miki H", null), ("Mignone F", null), ("Miyake S", null), ("Morris K", null), ("Mottagui-Tabar S", null), ("Mulder N", null), ("Nakano N", null), ("Nakauchi H", null), ("Ng P", null), ("Nilsson R", null), ("Nishiguchi S", null), ("Nishikawa S", null), ("Nori F", null), ("Ohara O", null), ("Okazaki Y", null), ("Orlando V", null), ("Pang KC", null), ("Pavan WJ", null), ("Pavesi G", null), ("Pesole G", null), ("Petrovsky N", null), ("Piazza S", null), ("Reed J", null), ("Reid JF", null), ("Ring BZ", null), ("Ringwald M", null), ("Rost B", null), ("Ruan Y", null), ("Sandelin A", null), ("Schneider C", null), ("Schonbach C", null), ("Sekiguchi K", null), ("Semple CA", null), ("Seno S", null), ("Sessa L", null), ("Sheng Y", null), ("Shibata Y", null), ("Shimada H", null), ("Shimada K", null), ("Silva D", null), ("Sinclair B", null), ("Sperling S", null), ("Stupka E", null), ("Sugiura K", null), ("Sultana R", null), ("Takenaka Y", null), ("Taki K", null), ("Tammoja K", null), ("Tan SL", null), ("Tang S", null), ("Taylor MS", null), ("Tegner J", null), ("Teichmann SA", null), ("Ueda HR", null), ("van Nimwegen E", null), ("Verardo R", null), ("Wei CL", null), ("Yagi K", null), ("Yamanishi H", null), ("Zabarovsky E", null), ("Zhu S", null), ("Zimmer A", null), ("Hide W", null), ("Bult C", null), ("Grimmond SM", null), ("Teasdale RD", null), ("Liu ET", null), ("Brusic V", null), ("Quackenbush J", null), ("Wahlestedt C", null), ("Mattick JS", null), ("Hume DA", null), ("Kai C", null), ("Sasaki D", null), ("Tomaru Y", null), ("Fukuda S", null), ("Kanamori-Katayama M", null), ("Suzuki M", null), ("Aoki J", null), ("Arakawa T", null), ("Iida J", null), ("Imamura K", null), ("Itoh M", null), ("Kato T", null), ("Kawaji H", null), ("Kawagashira N", null), ("Kawashima T", null), ("Kojima M", null), ("Kondo S", null), ("Konno H", null), ("Nakano K", null), ("Ninomiya N", null), ("Nishio T", null), ("Okada M", null), ("Plessy C", null), ("Shibata K", null), ("Shiraki T", null), ("Suzuki S", null), ("Tagami M", null), ("Waki K", null), ("Watahiki A", null), ("Okamura-Oho Y", null), ("Suzuki H", null), ("Kawai J", null), ("Hayashizaki Y", null)
INSERT INTO AFFILIATION (Description) VALUES ("Augenklinik des Universitatsspitals Zurich.")
INSERT INTO AUTHORS (Name, AFFILIATION_Id_affiliation ) VALUES ("Hoppeler T", 6), ("Ganzfried R", null), ("Gloor B", null)
INSERT INTO AFFILIATION (Description) VALUES ("Genome Exploration Research Group, RIKEN Genomic Sciences Center, RIKEN Yokohama Institute, 1-7-22 Suehiro-cho, Tsurumi-ku, Yokohama, Kanagawa, 230-0045, Japan.")
INSERT INTO AUTHORS (Name, AFFILIATION_Id_affiliation ) VALUES ("Ponjavic J", null), ("Engstrom PG", null), ("Alkema WB", null), ("Kitazume Y", null), ("Nakamura M", null), ("Arner P", null), ("Chesi A", null), ("Persichetti F", null), ("Wells CA", null),
INSERT INTO AUTHORS (Name, AFFILIATION_Id_affiliation ) VALUES ("Waite IM", 3)
1 record inserted.

In [769]:
import mysql.connector as SQLC
try: 
    DataBase = SQLC.connect(
    host ="127.0.0.1",
    user ="user",
    password ="password",
        database ="teste"
    )
    Cursor = DataBase.cursor()

    TableName ="""CREATE TABLE IF NOT EXISTS `teste`.`PM_AUTHORS_relationship` (
        `PUBMED_Id_PM` INT NOT NULL,
        `AUTHORS_Id_Author` INT NOT NULL,
        PRIMARY KEY (`PUBMED_Id_PM`, `AUTHORS_Id_Author`)
    )
    """
    Cursor.execute(TableName)
    print(len(file_locus_pub_list))
    print(len(loc_name_list))

    for index_pm in range(len(pub_list)):

        if pub_list[index_pm] != '':
            select_pm_at = f"SELECT Id_PM FROM PUBMED WHERE PM_ID = \"{pub_list[index_pm]}\""
        
            Cursor.execute(select_pm_at)
            myresult_pm_at = Cursor.fetchall()
            id_pm_at = None
            for res, in myresult_pm_at:
                id_pm_at = res

            print(id_pm_at)
            author_id_list = []
            for xx in author[index_pm]:
                select_at_pm = f"SELECT Id_Author FROM AUTHORS WHERE Name= \"{xx}\""
                Cursor.execute(select_at_pm)
                myresult_at = Cursor.fetchall()
                id_at = None
                for res, in myresult_at:
                    id_at = res
                author_id_list.append(id_at)

            index = 0
            sql_at_pm_relation = "INSERT INTO PM_AUTHORS_relationship (PUBMED_Id_PM, AUTHORS_Id_Author) VALUES" 
            author_id_list = list(dict.fromkeys(author_id_list))
            for id_at in author_id_list:
                if id_at is not None and id_pm_at is not None:      
                    #verificar se existe relação entre ids
                    select_rel_at_pm = f"SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = \"{id_pm_at}\" and AUTHORS_Id_Author = \"{id_at}\""
                    print(select_rel_at_pm)
                    Cursor.execute(select_rel_at_pm)
                    myresult_rel_pm_at = Cursor.fetchall()
                    id_rel_pm_at = None
                    for res_PUBMED_Id_PM,res_AUTHORS_Id_Author, in myresult_rel_pm_at:   #apenas selecionamos um dos id pq se não houver relação serão ambos null
                        id_rel_pm_at = res_PUBMED_Id_PM     

                    #se null:
                    if id_rel_pm_at is None:
                        if index == len(author_id_list)-1:
                            sql_at_pm_relation += f" ({id_pm_at}, {id_at})"
                        else:
                            sql_at_pm_relation += f" ({id_pm_at}, {id_at}),"
                index += 1

            print(sql_at_pm_relation)
            if sql_at_pm_relation != "INSERT INTO PM_AUTHORS_relationship (PUBMED_Id_PM, AUTHORS_Id_Author) VALUES":
                #remove ultimo caracter se este for uma ","
                if sql_at_pm_relation.endswith(","):
                    sql_at_pm_relation = sql_at_pm_relation[:-1] #remove utimo caracter da string

                print(sql_at_pm_relation)
                Cursor.execute(sql_at_pm_relation)
                DataBase.commit()
                print(Cursor.rowcount, "record inserted.")

    
    
    
    Cursor.close()

except SQLC.Error as error:
    print("Failed to insert record into MySQL table {}".format(error))

5
5
3
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "3" and AUTHORS_Id_Author = "184"
INSERT INTO PM_AUTHORS_relationship (PUBMED_Id_PM, AUTHORS_Id_Author) VALUES (3, 184)
INSERT INTO PM_AUTHORS_relationship (PUBMED_Id_PM, AUTHORS_Id_Author) VALUES (3, 184)
1 record inserted.
4
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "4" and AUTHORS_Id_Author = "185"
INSERT INTO PM_AUTHORS_relationship (PUBMED_Id_PM, AUTHORS_Id_Author) VALUES (4, 185)
INSERT INTO PM_AUTHORS_relationship (PUBMED_Id_PM, AUTHORS_Id_Author) VALUES (4, 185)
1 record inserted.
5
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "5" and AUTHORS_Id_Author = "186"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "5" and AUTHORS_Id_Author = "187"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "5" and AUTHORS_Id_Author = "188"
INSERT INTO PM_AUTHORS_relationship (PUBMED_Id_PM, AUTHORS_Id_Author) VALUES (5, 186), (5, 187), (5, 188)
INSERT INTO PM_AUTHORS_relationship (PUBMED_Id_PM, AUTHORS_Id_Author) VALUES (5, 186), (5, 187), (5, 188)
3 record inserted.
6
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "189"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "190"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "191"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "192"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "193"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "194"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "195"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "196"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "197"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "198"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "199"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "200"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "201"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "202"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "203"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "204"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "205"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "206"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "207"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "208"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "209"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "210"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "211"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "212"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "213"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "214"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "215"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "216"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "217"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "218"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "219"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "220"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "221"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "222"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "223"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "224"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "225"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "226"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "227"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "228"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "229"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "230"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "231"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "232"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "233"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "234"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "235"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "236"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "237"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "238"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "239"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "240"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "241"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "242"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "243"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "244"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "245"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "246"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "247"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "248"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "249"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "250"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "251"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "252"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "253"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "254"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "255"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "256"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "257"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "258"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "259"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "260"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "261"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "262"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "263"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "264"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "265"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "266"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "267"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "268"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "269"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "270"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "271"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "272"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "273"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "274"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "275"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "276"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "277"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "278"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "279"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "280"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "281"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "282"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "283"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "284"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "285"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "286"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "287"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "288"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "289"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "290"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "291"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "292"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "293"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "294"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "295"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "296"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "297"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "298"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "299"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "300"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "301"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "302"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "303"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "304"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "11"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "305"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "306"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "307"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "308"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "309"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "310"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "311"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "312"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "313"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "314"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "315"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "316"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "317"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "318"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "319"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "320"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "321"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "322"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "323"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "324"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "325"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "326"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "327"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "328"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "329"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "330"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "331"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "332"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "333"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "334"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "335"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "336"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "337"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "338"
SELECT PUBMED_Id_PM, AUTHORS_Id_Author FROM PM_AUTHORS_relationship WHERE PUBMED_Id_PM = "6" and AUTHORS_Id_Author = "339"

In [702]:
gene

[[['Oct 2']], [], [], [], [], [], [], [], []]

In [770]:
import mysql.connector as SQLC
try: 
    DataBase = SQLC.connect(
    host ="127.0.0.1",
    user ="user",
    password ="password",
        database ="teste"
    )
    Cursor = DataBase.cursor()

    TableName ="""CREATE TABLE IF NOT EXISTS `teste`.`FEATURES` (
        `Id_F` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        `Gene` VARCHAR(45) NULL,
        `Source_location` VARCHAR(45) NULL
    
    )
    """
    Cursor.execute(TableName)

    TableName ="""CREATE TABLE IF NOT EXISTS `teste`.`CDS` (
        `Id_CDS` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        `Translation_seq` longtext  NULL,
        `Location` VARCHAR(45)  NULL,
        `Product` VARCHAR(45)  NULL,
        `Protein_ID` VARCHAR(45) NULL
    )
    """
    Cursor.execute(TableName)

    for index_gb in range(len(loc_name_list)):

        #get genbank id
        select_gb = f"SELECT Id_GB FROM GENBANK WHERE GB_ID= \"{loc_name_list[index_gb]}\""
        Cursor.execute(select_gb)
        myresult_gb = Cursor.fetchall()
        id_gb = None
        for res, in myresult_gb:
            id_gb = res
        
        print(id_gb)
        if id_gb is not None:
            for index_ft in range(len(source[index_gb])):
                if source[index_gb][index_ft] != '':  #verificar se existe "source" na bd
                    sql_insert_source = "INSERT INTO FEATURES (Gene, Source_location) VALUES"
                    select_ft = f"SELECT Id_F FROM FEATURES WHERE Source_location = \"{source[index_gb][index_ft]}\""
            
                    Cursor.execute(select_ft)
                    myresult_ft = Cursor.fetchall()
                    id_ft = None
                    for res_ft, in myresult_ft:
                        id_ft = res_ft

                    if id_ft is None: #se n existe, insere
                        if len(gene[index_gb]) > 0:
                            sql_insert_source += f" (\"{gene[index_gb][index_ft]}\", \"{source[index_gb][index_ft]}\")"
                        else:
                            sql_insert_source += f" ( null, \"{source[index_gb][index_ft]}\")"

                        if sql_insert_source.endswith(","):  #remove ultimo caracter se este for uma ","
                            sql_insert_source = sql_insert_source[:-1] #remove utimo caracter da string
                        Cursor.execute(sql_insert_source)

                        # print(Cursor.lastrowid)  #buscar o id do feature inserido
                        id_inserted_feature = Cursor.lastrowid
                    else:
                        id_inserted_feature = id_ft

                    #relationship between genbank and feature
                    sql_insert_gb_ft = "INSERT INTO GB_FT_relationship (GENBANK_Id_GB, FEATURES_Id_F) VALUES"
                    select_gb_ft = f"SELECT GENBANK_Id_GB FROM GB_FT_relationship WHERE GENBANK_Id_GB = {id_gb} and FEATURES_Id_F = {id_inserted_feature}"
            
                    Cursor.execute(select_gb_ft)
                    myresult_gb_ft = Cursor.fetchall()
                    id_gb_ft = None
                    for res_gb_ft, in myresult_gb_ft:
                        id_gb_ft = res_gb_ft

                    if id_gb_ft is None: #se n existe, insere
                        sql_insert_gb_ft += f" ({id_gb}, {id_inserted_feature})"

                        if sql_insert_gb_ft.endswith(","):  #remove ultimo caracter se este for uma ","
                            sql_insert_gb_ft = sql_insert_gb_ft[:-1] #remove utimo caracter da string
                        Cursor.execute(sql_insert_gb_ft)

            for index_cds in range(len(CDS[index_gb])):
                print(CDS[index_gb])
                print(CDS[index_gb][index_cds])
                if CDS[index_gb][index_cds]:  #verificar se existe "cds" na bd
                    sql_insert_cds = "INSERT INTO CDS (Translation_seq, Location,Product,Protein_ID) VALUES"
                    select_cds = f"SELECT Id_CDS FROM CDS WHERE Translation_seq = \"{CDS[index_gb][index_cds][3]}\""
            
                    Cursor.execute(select_cds)
                    myresult_cds = Cursor.fetchall()
                    id_cds = None
                    for res_cds, in myresult_cds:
                        id_cds = res_cds

                    if id_cds is None: #se n existe, insere
                        sql_insert_cds += f" (\"{CDS[index_gb][index_cds][3]}\",\"{CDS[index_gb][index_cds][0]}\",\"{CDS[index_gb][index_cds][1]}\", \"{CDS[index_gb][index_cds][2]}\")"

                        if sql_insert_cds.endswith(","):  #remove ultimo caracter se este for uma ","
                            sql_insert_cds = sql_insert_cds[:-1] #remove utimo caracter da string
                        Cursor.execute(sql_insert_cds)

                        # print(Cursor.lastrowid)  #buscar o id do cds inserido
                        id_inserted_cds = Cursor.lastrowid
                    else:
                        id_inserted_cds = id_cds
                    
                    #relationship between cds and genbank
                    sql_insert_gb_cds = "INSERT INTO CDS_GB_relationship (GENBANK_Id_GB, CDS_Id_CDS) VALUES"
                    select_gb_cds = f"SELECT GENBANK_Id_GB FROM CDS_GB_relationship WHERE GENBANK_Id_GB = {id_gb} and CDS_Id_CDS = {id_inserted_cds}"
            
                    Cursor.execute(select_gb_cds)
                    myresult_gb_cds = Cursor.fetchall()
                    id_gb_cds = None
                    for res_gb_cds, in myresult_gb_cds:
                        id_gb_ft = res_gb_cds

                    if id_gb_ft is None: #se n existe, insere
                        sql_insert_gb_cds += f" ({id_gb}, {id_inserted_cds})"

                        if sql_insert_gb_cds.endswith(","):  #remove ultimo caracter se este for uma ","
                            sql_insert_gb_cds = sql_insert_gb_cds[:-1] #remove utimo caracter da string
                        Cursor.execute(sql_insert_gb_cds)

                DataBase.commit()
                print(Cursor.rowcount, "record inserted.")

    
    
    
    Cursor.close()

except SQLC.Error as error:
    print("Failed to insert record into MySQL table {}".format(error))

10
[[], [], [], ['[67:889](+)', ['NADH dehydrogenase subunit'], ['CAA39694.1'], ['MRAALRLLATATATVRPSARFLKPGSPTGLTGLGTHPSPRSALLYLYNHTLDKLKQIPEHSLYRQSAEALTKHRLAIVEQYVPDGYDAWQERARKLLEKHKSDLTARQFDGQHARLVEGPDGRAYFIRQMVPPQDWRDVEWDGAVLDPHFSWVQTGEDVVGAVKLEDSDKLLELDKIRESDPVAYRQGLRDLGIKMGGVVEDKSPVEWESEPPLSAEQIAEMEARIGSGLIEEVVQVAEGELKLVDIMTQARPWEALEEEAPEGQWTYFERKE']], [], [], []]
[]
1 record inserted.
[[], [], [], ['[67:889](+)', ['NADH dehydrogenase subunit'], ['CAA39694.1'], ['MRAALRLLATATATVRPSARFLKPGSPTGLTGLGTHPSPRSALLYLYNHTLDKLKQIPEHSLYRQSAEALTKHRLAIVEQYVPDGYDAWQERARKLLEKHKSDLTARQFDGQHARLVEGPDGRAYFIRQMVPPQDWRDVEWDGAVLDPHFSWVQTGEDVVGAVKLEDSDKLLELDKIRESDPVAYRQGLRDLGIKMGGVVEDKSPVEWESEPPLSAEQIAEMEARIGSGLIEEVVQVAEGELKLVDIMTQARPWEALEEEAPEGQWTYFERKE']], [], [], []]
[]
1 record inserted.
[[], [], [], ['[67:889](+)', ['NADH dehydrogenase subunit'], ['CAA39694.1'], ['MRAALRLLATATATVRPSARFLKPGSPTGLTGLGTHPSPRSALLYLYNHTLDKLKQIPEHSLYRQSAEALTKHRLAIVEQYVPDGYDAWQERARKLLEKHKSDLTARQFDGQHARLVEGPDGRAYFIRQMVPPQDWRDVEWDGAVLDPHFSWVQTGEDVVGAVKLEDSDKLLELDKIRESDPVAYRQGLRDLGIKMGGVVEDKSPVEWESEPPLSAEQIAEMEARIGSGLIEEVVQVAEGELKLVDIMTQARPWEALEEEAPEGQWTYFERKE']], [], [], []]
[]
1 record inserted.
[[], [], [], ['[67:889](+)', ['NADH dehydrogenase subunit'], ['CAA39694.1'], ['MRAALRLLATATATVRPSARFLKPGSPTGLTGLGTHPSPRSALLYLYNHTLDKLKQIPEHSLYRQSAEALTKHRLAIVEQYVPDGYDAWQERARKLLEKHKSDLTARQFDGQHARLVEGPDGRAYFIRQMVPPQDWRDVEWDGAVLDPHFSWVQTGEDVVGAVKLEDSDKLLELDKIRESDPVAYRQGLRDLGIKMGGVVEDKSPVEWESEPPLSAEQIAEMEARIGSGLIEEVVQVAEGELKLVDIMTQARPWEALEEEAPEGQWTYFERKE']], [], [], []]
['[67:889](+)', ['NADH dehydrogenase subunit'], ['CAA39694.1'], ['MRAALRLLATATATVRPSARFLKPGSPTGLTGLGTHPSPRSALLYLYNHTLDKLKQIPEHSLYRQSAEALTKHRLAIVEQYVPDGYDAWQERARKLLEKHKSDLTARQFDGQHARLVEGPDGRAYFIRQMVPPQDWRDVEWDGAVLDPHFSWVQTGEDVVGAVKLEDSDKLLELDKIRESDPVAYRQGLRDLGIKMGGVVEDKSPVEWESEPPLSAEQIAEMEARIGSGLIEEVVQVAEGELKLVDIMTQARPWEALEEEAPEGQWTYFERKE']]
1 record inserted.
[[], [], [], ['[67:889](+)', ['NADH dehydrogenase subunit'], ['CAA39694.1'], ['MRAALRLLATATATVRPSARFLKPGSPTGLTGLGTHPSPRSALLYLYNHTLDKLKQIPEHSLYRQSAEALTKHRLAIVEQYVPDGYDAWQERARKLLEKHKSDLTARQFDGQHARLVEGPDGRAYFIRQMVPPQDWRDVEWDGAVLDPHFSWVQTGEDVVGAVKLEDSDKLLELDKIRESDPVAYRQGLRDLGIKMGGVVEDKSPVEWESEPPLSAEQIAEMEARIGSGLIEEVVQVAEGELKLVDIMTQARPWEALEEEAPEGQWTYFERKE']], [], [], []]
[]
1 record inserted.
[[], [], [], ['[67:889](+)', ['NADH dehydrogenase subunit'], ['CAA39694.1'], ['MRAALRLLATATATVRPSARFLKPGSPTGLTGLGTHPSPRSALLYLYNHTLDKLKQIPEHSLYRQSAEALTKHRLAIVEQYVPDGYDAWQERARKLLEKHKSDLTARQFDGQHARLVEGPDGRAYFIRQMVPPQDWRDVEWDGAVLDPHFSWVQTGEDVVGAVKLEDSDKLLELDKIRESDPVAYRQGLRDLGIKMGGVVEDKSPVEWESEPPLSAEQIAEMEARIGSGLIEEVVQVAEGELKLVDIMTQARPWEALEEEAPEGQWTYFERKE']], [], [], []]
[]
1 record inserted.
[[], [], [], ['[67:889](+)', ['NADH dehydrogenase subunit'], ['CAA39694.1'], ['MRAALRLLATATATVRPSARFLKPGSPTGLTGLGTHPSPRSALLYLYNHTLDKLKQIPEHSLYRQSAEALTKHRLAIVEQYVPDGYDAWQERARKLLEKHKSDLTARQFDGQHARLVEGPDGRAYFIRQMVPPQDWRDVEWDGAVLDPHFSWVQTGEDVVGAVKLEDSDKLLELDKIRESDPVAYRQGLRDLGIKMGGVVEDKSPVEWESEPPLSAEQIAEMEARIGSGLIEEVVQVAEGELKLVDIMTQARPWEALEEEAPEGQWTYFERKE']], [], [], []]
[]
1 record inserted.
11
[[]]
[]
1 record inserted.
12
[[]]
[]
1 record inserted.
13
[[]]
[]
1 record inserted.
14
[[], [], ['[<0:>184](+)', ['envelope glycoprotein'], ['AAA73551.1'], ['CNTSRLFNSTWNGTEGLPDITLPCRIKQIINMWQEVGKAMYAPPIKGQIRCSSNITGLLLT']]]
[]
1 record inserted.
[[], [], ['[<0:>184](+)', ['envelope glycoprotein'], ['AAA73551.1'], ['CNTSRLFNSTWNGTEGLPDITLPCRIKQIINMWQEVGKAMYAPPIKGQIRCSSNITGLLLT']]]
[]
1 record inserted.
[[], [], ['[<0:>184](+)', ['envelope glycoprotein'], ['AAA73551.1'], ['CNTSRLFNSTWNGTEGLPDITLPCRIKQIINMWQEVGKAMYAPPIKGQIRCSSNITGLLLT']]]
['[<0:>184](+)', ['envelope glycoprotein'], ['AAA73551.1'], ['CNTSRLFNSTWNGTEGLPDITLPCRIKQIINMWQEVGKAMYAPPIKGQIRCSSNITGLLLT']]
1 record inserted.